@font-face {
  font-family: 'Supermolot';
  src: url('../../misc/fonts/supermolot-webfont.woff2') format('woff2'),
       url('../../misc/fonts/supermolot-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Supermolot';
  src: url('../../misc/fonts/supermolot_bold-webfont.woff2') format('woff2'),
       url('../../misc/fonts/supermolot_bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}