*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  min-width: 320px;
  height: 100%;
 
  background-color: white;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  font-family: 'Supermolot', 'Helvetica', sans-serif;
  > * {
    flex-shrink: 0;
  }
}

ul {
  list-style: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

a {
  text-decoration: none;
  display: inline-block;
}


img {
  max-width: 100%;
}


::selection {
  color: white;
  background: $green;
} 


header {
  background-color: lightgreen;
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  > .container {
    display: flex;
    align-items: center;
    button {
      margin-left: auto;
    }
  }
}

footer {
  background-color: violet;
  height: 45px;
  display: flex;
  align-items: center;
}
.content {
  flex-grow: 1;
  background-color: tomato;
  padding-top: 45px;
}


.sidebar {
  background-color: purple;
  position: fixed;
  top: 0;
  right: 100%;
  width: 80%;
  height: calc(100% - 45px);
  top: 45px;
  color: white;
  transform: translateX(0);
  transition: all .3s;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  transition: all .3s, visibility 0s linear .3s;
  &.shown {
    transform: translateX(100%);
    visibility: visible;
    transition: all .3s;
  }
}

.sidebar__content {
  padding: 15px;
} 







