.news {
  // background-color: $green;
  // color: white;
  background-color: #fff;
  color: $green;
}

.news__heading {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: .2px;
}

.news__image-container {
  padding-bottom: 75%;
  position: relative;
  display: block;
  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
  }
}

.news__description {
  padding: 20px;
}


.news__slider-controls {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  .slick-dots {
    order: -1;
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-bottom: 34px;
    li {
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
    li button {
      outline: 0;
      line-height: 0;
      font-size: 0;
      display: block;
      color: transparent;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: transparent;
      border: 1.5px solid $green;
      position: relative;
      transition: all .3s;
      outline: 1px solid transparent;
      &:hover,
      &:focus {
        transform: scale(1.5);
      }
    }

    li.slick-active button {
      transform: scale(1.6);
      
      background-color: $green;
    }
  }
}


.news__all-news-link {
  color: $green;
  font-size: 16px;
  line-height: 20px;
  border: 2px solid $green;
  display: inline-block;
  padding: 13px 37px;
  transition: all 0.2s;
  text-align: center;
  &:link,
  &:visited {
    color: $green;
  }

  &:hover,
  &:focus {
    color: $red;
    border-color: $red;
  }
}


