$photo-breakpoint: 600px;

.photo {
  .tabs__navigation button {
    width: 50%;

    .tabs__button-content {
      justify-content: center;
    }
  }
}

.photo__heading {
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0.3px;
  font-weight: 700;
  color: $green;
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
  margin: 0;
  background-color: #fff;
  position: relative;
  z-index: 20;
}

.photo__select {
  padding: 0 20px;
  padding-bottom: 20px;
  @include standardSelect();
}

.photo__content {
  padding: 0 20px;
  padding-bottom: 40px;
  background-color: #fff;
}

.photo__list {
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;

  &-item {
    padding: 0 10px;
    margin-bottom: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: $photo-breakpoint) {
      width: 100%;
    }
  }
}

.photo__card {
  position: relative;
  color: #242f37;
  background-color: white;
  display: block;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(black, 0.1);
  flex-grow: 1;
 
  &:link,
  &:visited {
    color: #242f37;
  }
}

.photo__date {
  display: flex;
  align-items: center;
  color: #94999f;
  font-size: 14px;
  line-height: 24px;
  > svg {
    fill: #94999f;
    margin-right: 10px;
  }
}

.photo__title {
  font-family: 'Supermolot', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 24px;
  display: block;
  font-weight: 700;
  margin-top: 5px;
}

.photo__image-container {
  width: 100%;
  padding-bottom: 75%;
  position: relative;
  display: block;
}

.photo__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  @include objectFitCover();
}

.photo__description {
  display: block;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: $green;
  padding-bottom: 20px;
}
