.results-page {
  .tabs__navigation button {
    width: 50%;
    
    .tabs__button-content {
      justify-content: center;
    }
  }


  .results__short {
    padding-bottom: 40px;
  }
}



.results-page__heading {
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0.3px;
  font-weight: 700;
  color: $green;
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
  margin: 0;
  background-color: #fff;
  position: relative;
  z-index: 20;
}


.results-page__select {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
 
  padding-bottom: 20px;
  background-color: #fff;
  width: 100%;

  &-wrapper {
    position: relative;
   
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      height: 2px;
      width: 40px;
      background-color: $green;
      pointer-events: none;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 2px;
      width: 40px;
      background-color: $green;
      z-index: 10;
      pointer-events: none;
    }
  }
  select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    font: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    padding: 8px 20px;
    padding-right: 60px;
    border: 2px solid #EBEBEB;
    border-right: none;
    position: relative;
    outline: none;
    background-image: 
    url("data:image/svg+xml,%3Csvg fill='white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.46 10.15'%3E%3Cpath d='M15 0L8.23 7.22 1.46 0 0 1.37l8.23 8.78 8.23-8.78L15 0z'/%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg width='100' height='100' preserveAspectRatio='none' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg' fill='%23256963'%3E%3Crect x='0' y='0' width='100' height='100'/%3E%3C/svg%3E");
    background-color: transparent;
    background-size: 16px auto, 40px 40px;
    background-position: right 12px top 14px, right top;
    background-repeat: no-repeat, no-repeat;
    background-clip: border-box;
    width: 100%;
    cursor: pointer;
    &::-ms-expand { 
      display: none; /* hide the default arrow in ie10 and ie11 */
    }

    @media screen and (min-width:0\0) {
      background-image:none\9;
      padding: 5px\9;
    }
  }
}


.results-page__card {
  box-shadow: 0px 5px 15px rgba(black, 0.1);
  background-color: #fff;
}