.results-page {
  .tabs__navigation button {
    width: 50%;
    
    .tabs__button-content {
      justify-content: center;
    }
  }


  .results__short {
    padding-bottom: 40px;
  }
}



.results-page__heading {
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0.3px;
  font-weight: 700;
  color: $green;
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
  margin: 0;
  background-color: #fff;
  position: relative;
  z-index: 20;
}


.results-page__select {
  padding: 0 20px;
  padding-bottom: 20px;
  @include standardSelect();
}


.results-page__card {
  box-shadow: 0px 5px 15px rgba(black, 0.1);
  background-color: #fff;
}