.social {
  display: flex;
  flex-wrap: wrap;
  padding: 0 40px;
  padding-right: 10px;
  margin-top: 40px;
  &__item {
    margin-right: 30px;
    margin-bottom: 18px;
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.social__link {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  > svg {
    fill: white;
    transition: fill .2s;
  }
  &:hover,
  &:focus {
    > svg {
      fill: $red;
    }
  }

}