.sponsor {
  padding: 0 40px;
  margin-top: 40px;
  padding-bottom: 48px;
  display: block;
  color: white;
  &:link,
  &:visited {
    color: white;
  }
}

.sponsor__logo {
  display: block;
  > img {
    width: 130px;
    height: 38px;
  }
}

.sponsor__text {
  padding-left: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 14px;
  display: block;
}