.statistics {
  
  padding-bottom: 20px;
}

.statistics__heading {
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0.3px;
  font-weight: 700;
  color: $green;
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
  margin: 0;
  background-color: #fff;
}

.statistics__table-block {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: white;
  padding-bottom: 40px;
}


.statistics__table-wrapper {
  position: relative;
  &::after {
    content: '';
    width: 60px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-image: linear-gradient(to left, white 10px, rgba(white, 0));
    pointer-events: none;
  }
}

.statistics__table-scrollable {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th {
    background-color: #ebebeb;
    white-space: nowrap;
  }

  th,
  td {
    padding: 5px 5px;
    text-align: left;
    transition: .2s;
    &:first-child {
      padding-left: 20px;
    }
    &:last-child {
      padding-right: 40px;
    }

    &:nth-child(2) {
      white-space: nowrap;
    }
  }


  tr {
    &:hover {
      td {
        background-color: #DEE8E8;
      }
    }
  }
}



.statistics__legend {
  padding: 0 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}

.statistics__legend-heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #242f37;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
}

.statistics__legend-list {
  margin-top: 15px;
  text-align: left;
  display: flex;
  flex-direction: column;
  &-item {
    color: #242f37;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 26px;
    display: inline-block;
    &:last-child {
      margin-bottom: 0;
    }
  }
}



.statistics__rotate-icon-container {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  > svg {
    display: block;
    fill: $green;
    position: relative;
    bottom: 2px;
  }
}

.statistics__rotate {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
 
  margin-bottom: 20px;
  @media (orientation: landscape) {
    display: none;
  }
}


.statistics__rotate-text {
  font-size: 14px;
  line-height: 18px;
}




.statistics__select {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  padding-bottom: 20px;
  background-color: #fff;
  width: 100%;

  &-wrapper {
    position: relative;
    align-self: stretch;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      height: 2px;
      width: 40px;
      background-color: $green;
      pointer-events: none;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 2px;
      width: 40px;
      background-color: $green;
      z-index: 10;
      pointer-events: none;
    }
  }
  select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    font: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    padding: 8px 20px;
    padding-right: 60px;
    border: 2px solid #EBEBEB;
    border-right: none;
    position: relative;
    outline: none;
    background-image: 
    url("data:image/svg+xml,%3Csvg fill='white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.46 10.15'%3E%3Cpath d='M15 0L8.23 7.22 1.46 0 0 1.37l8.23 8.78 8.23-8.78L15 0z'/%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg width='100' height='100' preserveAspectRatio='none' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg' fill='%23256963'%3E%3Crect x='0' y='0' width='100' height='100'/%3E%3C/svg%3E");
    background-color: transparent;
    background-size: 16px auto, 40px 40px;
    background-position: right 12px top 14px, right top;
    background-repeat: no-repeat, no-repeat;
    background-clip: border-box;
    cursor: pointer;
    width: 100%;
    
    &::-ms-expand { 
      display: none; /* hide the default arrow in ie10 and ie11 */
    }


    &:focus {
      background-color: transparent;
    }

    @media screen and (min-width:0\0) {
      background-image:none\9;
      padding: 5px\9;
    }
  }
}