.tables {
  .tabs__navigation-wrapper {
    position: relative;
    z-index: 30;
  }

  .tabs__navigation button {
    width: 50%;

    .tabs__button-content {
      justify-content: center;
    }
  }

  .swiper-container {
    width: 100%;
    height: auto;
  }

  .swiper-slide {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .table__card-playoff-content {
    height: auto;
  }

  .table__card-content {
    height: auto;
  }

  .table__card-content::after, .table__card-playoff-content::after {
    display: none;
  }
}

.tables__content {
  background-color: #fff;
  padding-bottom: 60px;
}

.tables__heading {
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0.3px;
  font-weight: 700;
  color: $green;
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
  margin: 0;
  background-color: #fff;
}

.tables__select {
  padding: 0 20px;
  padding-bottom: 20px;
  @include standardSelect();
}

.tables__rotate-icon-container {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  > svg {
    display: block;
    fill: $green;
    position: relative;
    bottom: 2px;
  }
}

.tables__rotate {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  @media (orientation: landscape) {
    display: none;
  }
}

.tables__rotate-text {
  font-size: 14px;
  line-height: 18px;
}
