.team {
  
  .tabs__navigation-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    background-color: #fff;
  }
  
  
  .tabs__navigation button {
    width: 45%;
    flex-shrink: 0;
    .tabs__button-content {
      justify-content: center;
    }
  }


  .simplebar-track.simplebar-horizontal {
    display: none;
  }
}


.no-touch .team .simplebar-track.simplebar-horizontal {
  display: block;
}


.team__heading {
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0.3px;
  font-weight: 700;
  color: $green;
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
  margin: 0;
  background-color: #fff;
  position: relative;
  z-index: 20;
  
}


.team__secondary-heading {
  color: $green;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px;
  margin-top: 40px;
  &:first-child {
    margin-top: 0;
  }
}


.team__card {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
  &:link,
  &:visited {
    color: #242F37;
  }
}

.team__card-image-container {
  width: 60px;
  height: 75px;
  margin-right: 15px;
  flex-shrink: 0;
  > img {
    display: block;
    width: 100%;
    height: 100%;
    @include objectFitCoverTop();
  }
}

.team__card-info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  .player-name,
  .staff-name {
    display: block;
    font-weight: 700;
    margin-bottom: 3px;
  }

  .player-birthday,
  .position {
    display: block;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 3px;
  }


  .player-weight,
  .staff-birthday {
    display: block;
    font-size: 14px;
    line-height: 18px;
  }
}


.team__tab-wrapper {
  padding: 25px 20px;
  padding-bottom: 50px;
  background-color: #fff;
}



.team__select {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  padding-bottom: 20px;
  background-color: #fff;
  width: 100%;

  &-wrapper {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      height: 2px;
      width: 40px;
      background-color: $green;
      pointer-events: none;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 2px;
      width: 40px;
      background-color: $green;
      z-index: 10;
      pointer-events: none;
    }
  }
  select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    font: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    padding: 8px 20px;
    padding-right: 60px;
    border: 2px solid #EBEBEB;
    border-right: none;
    position: relative;
    outline: none;
    background-image: 
    url("data:image/svg+xml,%3Csvg fill='white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.46 10.15'%3E%3Cpath d='M15 0L8.23 7.22 1.46 0 0 1.37l8.23 8.78 8.23-8.78L15 0z'/%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg width='100' height='100' preserveAspectRatio='none' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg' fill='%23256963'%3E%3Crect x='0' y='0' width='100' height='100'/%3E%3C/svg%3E");
    background-size: 16px auto, 40px 40px;
    background-position: right 12px top 14px, right top;
    background-repeat: no-repeat, no-repeat;
    background-clip: border-box;
    cursor: pointer;
    &::-ms-expand { 
      display: none; /* hide the default arrow in ie10 and ie11 */
    }

    @media screen and (min-width:0\0) {
      background-image:none\9;
      padding: 5px\9;
    }
  }
}