.toggles {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 14px;
  padding-bottom: 11px;
  
}

.toggles__login-link,
.toggles__full-version-link {
  display: flex;
  align-items: center;
  font-size: 10px;
  line-height: 14px;
  > svg {
    fill: white;
    margin-right: 5px;
  }

  &:first-child {
    margin-right: 27px;
  }
  &:link,
  &:visited {
    color: white;
    
  }
}


.toggles__close-sidebar-button {
  margin-left: auto;
  outline: none;
  > svg {
    fill: white;
    display: block;
  }
}