.video {
  .tabs__navigation-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    background-color: #fff;
  }

  .tabs__navigation button {
    width: 50%;
    flex-shrink: 0;
    .tabs__button-content {
      justify-content: center;
    }
  }

  .simplebar-track.simplebar-horizontal {
    display: none;
  }


  .hide-button {
    padding: 0;
    text-align: left;
    padding: 10px 0;
  }
}

.no-touch .video .simplebar-track.simplebar-horizontal {
  display: block;
}

.video__heading {
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0.3px;
  font-weight: 700;
  color: $green;
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
  margin: 0;
  position: relative;
  z-index: 20;
  background-color: #fff;
}

.video__select {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  background-color: #fff;
  width: 100%;
  padding: 0 20px;
  // align-items: center;

  &-wrapper {
    position: relative;
    margin-top: 20px;
    // &:first-child {
    //   margin-bottom: 20px;
    // }
    &:last-of-type {
      margin-bottom: 20px;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      height: 2px;
      width: 40px;
      background-color: $green;
      pointer-events: none;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 2px;
      width: 40px;
      background-color: $green;
      z-index: 10;
      pointer-events: none;
    }
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    font: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    padding: 8px 20px;
    padding-right: 60px;
    border: 2px solid #ebebeb;
    border-right: none;
    position: relative;
    outline: none;
    background-image: url("data:image/svg+xml,%3Csvg fill='white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.46 10.15'%3E%3Cpath d='M15 0L8.23 7.22 1.46 0 0 1.37l8.23 8.78 8.23-8.78L15 0z'/%3E%3C/svg%3E"),
      url("data:image/svg+xml,%3Csvg width='100' height='100' preserveAspectRatio='none' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg' fill='%23256963'%3E%3Crect x='0' y='0' width='100' height='100'/%3E%3C/svg%3E");
    background-color: transparent;
    background-size: 16px auto, 40px 40px;
    background-position: right 12px top 14px, right top;
    background-repeat: no-repeat, no-repeat;
    background-clip: border-box;
    width: 100%;
    cursor: pointer;
    &::-ms-expand {
      display: none; /* hide the default arrow in ie10 and ie11 */
    }

    @media screen and (min-width: 0\0) {
      background-image: none\9;
      padding: 5px\9;
    }
  }
}

.videos__list {
  padding: 0 20px;
  padding-bottom: 60px;
  &-item {
    &:first-child {
      .videos__card {
        padding-top: 0;
      }
    }
    
  }
}


.videos__card {
  display: block;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #EBEBEB;
  }
  &:link,
  &:visited {
    color: #242F37;
  }
}

.videos__image-container {
  display: block;
  width: 100%;
  position: relative;
  padding-bottom: 67.3%;
  outline: none;
  > img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    @include objectFitCover();
  }


  &:hover,
  &:focus {
    .video__play-icon {
      fill-opacity: 1;
    }
  }
}

.videos__info {
  font-family: Arial, Helvetica, sans-serif;
  color: #242f37;
  display: block;
}


.video__title {
  color: $green;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: .2px;
  font-weight: 700;
  margin-top: 10px;
  display: block;
  font-family: 'Supermolot', 'Helvetica', sans-serif;
}

.videos__date {
  color: #94999f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  &:last-child {
    margin-right: 0;
  }
  &:link,
  &:visited {
    color: #94999f;
  }

  &[href] {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  svg {
    fill: #94999f;
    margin-right: 10px;
    position: relative;
    bottom: 2px;
  }
}


.videos__text {
  margin-top: 10px;
  display: block;
  font-size: 16px;
  line-height: 24px;
}





.video__play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  fill: white;
  fill-opacity: .8;
  transition: .2s;
}


.video__goals-list {
  padding-bottom: 40px;
  &-item {
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 20px;
    
    &::after {
      content: '';
      bottom: 0;
      height: 2px;
      background-color: #EBEBEB;
      left: 20px;
      right: 20px;
      position: absolute;
    }
  }
  .swiper-container {
    width: 100%;
  }

  .swiper-slide {
    width: calc(100% - 80px);
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

.video__goals-date {
  padding: 0 20px;
  color: #94999f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  margin-right: 20px;
 margin-bottom: 10px;
  &:last-child {
    margin-right: 0;
  }
  &:link,
  &:visited {
    color: #94999f;
  }

  &[href] {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  svg {
    fill: #94999f;
    margin-right: 10px;
    position: relative;
    bottom: 2px;
  }
}

.video__goals-video {
  display: block;
  width: 100%;
  position: relative;
  padding-bottom: 67.3%;
  outline: none;
  > img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    @include objectFitCover();
  }

  &:hover,
  &:focus {
    .video__goals-play-icon {
      fill-opacity: 1;
    }
  }
}


.video__goals-heading {
  font-size: 18px;
  line-height: 28px;
  color: $green;
  font-weight: 700;
  letter-spacing: .2px;
  padding: 0 20px;
  margin-bottom: 10px;
}


.video__goals-play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  fill: white;
  fill-opacity: .8;
  transition: .2s;
}


.video__goals-pagination {
  padding: 0 20px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: .2px;
  text-align: center;
  margin-top: 15px;
  color: #94999F;
  display: flex;
  justify-content: center;
  .swiper-pagination-current {
    color: $green;
  }
}



.video__goals-slide-text {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  color: #94999F;
  margin-top: 5px;
  text-align: center;
}