<section class="abonements-sidebar">
  <nav class="sidebar-nav">
    <ul class="sidebar-nav__list">
      <li class="sidebar-nav__list-item active">
        <a href="abonements.html" class="sidebar-nav__link">
          Абонементы
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="tickets.html" class="sidebar-nav__link">
          Билетная программа
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="terminals.html" class="sidebar-nav__link">
          Терминалы «АК БАРС» Банка
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="#" class="sidebar-nav__link">
          Кассы
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="vip.html" class="sidebar-nav__link">
          VIP-ложи
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="iceberg.html" class="sidebar-nav__link">
          Ресторан «Айсберг» 
        </a>
      </li>
    </ul>
  </nav>
  <div class="banner-column banner-column--left banner-column--news">
    <div class="banner-column__item" style="background-image: url(img/banners/hoki.png)">
    </div>
    <div class="banner-column__item" style="background-image: url(img/banners/гимн.png)">
    </div>
  </div>
</section>