<footer class="page-footer">
  <div class="container">
    <img src="img/logo/akbars-logo.svg" alt="Логотип команды" width="70" class="page-footer__team-logo" />
    <p>
      Официальный сайт ООО «СКП «Татнефть - Ак Барс». © 2000-2019
    </p>
    <p>
      При использовании материалов сайта ссылка на источник обязательна По вопросам размещения рекламы обращайтесь по
      тел/факс: <a href="tel:+78435338232">+7 843 53-38-232</a>
    </p>
    <a href="#">
      Стать партнером ХК «Ак Барс»
    </a>
    <a href="#" class="page-footer__callback-form-link">
      <span class="page-footer__callback-form-link-text">
        Форма обратной связи
      </span>
    </a>
    <ul class="page-footer__special-links-list">
      <li class="page-footer__special-links-list-item">
        <a href="#" class="page-footer__special-link">
          <span class="page-footer__special-link-icon-container">
            <svg width="20" height="18" aria-hidden="true" class="icon-academy">
              <use xlink:href="#academy" />
            </svg>
          </span>
          Академия
        </a>
      </li>
      <li class="page-footer__special-links-list-item">
        <a href="#" class="page-footer__special-link">
          <span class="page-footer__special-link-icon-container">
            <svg width="20" height="22" aria-hidden="true" class="icon-tickets">
              <use xlink:href="#tickets" />
            </svg>
          </span>
          Билеты
        </a>
      </li>
      <li class="page-footer__special-links-list-item">
        <a href="#" class="page-footer__special-link">
          <span class="page-footer__special-link-icon-container">
            <svg width="16" height="18" aria-hidden="true" class="icon-shop">
              <use xlink:href="#shop" />
            </svg>
          </span>
          Магазин
        </a>
      </li>
    </ul>
    <ul class="page-footer__bottom-nav-list">
      <li class="page-footer__bottom-nav-list-item">
        <a href="#" class="page-footer__bottom-nav-link">Команда</a>
      </li>
      <li class="page-footer__bottom-nav-list-item">
        <a href="#" class="page-footer__bottom-nav-link">Болельщики</a>
      </li>
      <li class="page-footer__bottom-nav-list-item">
        <a href="#" class="page-footer__bottom-nav-link">Новости</a>
      </li>
      <li class="page-footer__bottom-nav-list-item">
        <a href="#" class="page-footer__bottom-nav-link">Медиа</a>
      </li>
    </ul>
    <ul class="page-footer__bottom-nav-list">
      <li class="page-footer__bottom-nav-list-item">
        <a href="#" class="page-footer__bottom-nav-link">ХК «БАРС»</a>
      </li>
      <li class="page-footer__bottom-nav-list-item">
        <a href="#" class="page-footer__bottom-nav-link">ХК «ИРБИС»</a>
      </li>
    </ul>
    <ul class="page-footer__social-list">
      <li class="page-footer__social-list-item">
        <a href="#" class="page-footer__social-link">
          <svg width="28" height="18" aria-hidden="true" class="icon-vk">
            <use xlink:href="#vk" />
          </svg>
        </a>
      </li>
      <li class="page-footer__social-list-item">
        <a href="#" class="page-footer__social-link">
          <svg width="25" height="25" aria-hidden="true" class="icon-instagram">
            <use xlink:href="#instagram" />
          </svg>
        </a>
      </li>
      <li class="page-footer__social-list-item">
        <a href="#" class="page-footer__social-link">
          <svg width="28" height="20" aria-hidden="true" class="icon-youtube">
            <use xlink:href="#youtube" />
          </svg>
        </a>
      </li>
      <li class="page-footer__social-list-item">
        <a href="#" class="page-footer__social-link">
          <svg width="24" height="20" aria-hidden="true" class="icon-twitter">
            <use xlink:href="#twitter" />
          </svg>
        </a>
      </li>
      
      <li class="page-footer__social-list-item">
        <a href="#" class="page-footer__social-link">
          <svg width="13" height="22" aria-hidden="true" class="icon-fb">
            <use xlink:href="#fb" />
          </svg>
        </a>
      </li>
      <li class="page-footer__social-list-item">
        <a href="#" class="page-footer__social-link">
          <svg width="16" height="24" aria-hidden="true" class="icon-ok">
            <use xlink:href="#ok" />
          </svg>
        </a>
      </li>
      <li class="page-footer__social-list-item">
        <a href="#" class="page-footer__social-link">
          <svg width="27" height="22" aria-hidden="true" class="icon-telegram">
            <use xlink:href="#telegram" />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/mobile.js"></script>
