<header class="page-header js-header">
  
    <a href="m.html" class="page-header__logo-link">
      <img src="img/logos/akbars-logo.svg" alt="Логотип Ак Барс" width="48" height="28" class="page-header__logo">
    </a>
    <button class="page-header__menu-open js-sidebar-open">
      <span class="page-header__menu-open-content">
        <span class="page-header__menu-open-bar"></span>
        <span class="page-header__menu-open-bar"></span>
        <span class="page-header__menu-open-bar"></span>
      </span>
    </button>


   
  
</header>
