<header class="page-header">
  <!-- <div id="n_menu_bl" class="s_khl_menu_n_menu_bl"></div>
  <script src="//www.khl.ru/nav/js/scripts.php?type=khl&lang=ru"></script> -->

  <div class="container">
    <div class="page-header__top-panel">
      <section class="team">
        <a href="/" class="team__page-link">
          <img src="img/logo/akbars-logo.svg" width="162" height="92" alt="Логотип команды" class="team__logo" />
        </a>
        <div class="team__slider">
          <div class="team__slider-image-block">
            <ul class="team__slider-images">
              <li class="team__slider-images-item">
                <div class="team__slider-image-container">
                  <img src="img/cup_rf.png" alt="Кубок" class="team__slider-image" />
                </div>
              </li>
              <li class="team__slider-images-item">
                <div class="team__slider-image-container">
                  <img src="img/cup_gagarin.png" alt="Кубок" class="team__slider-image" />
                </div>
              </li>
            </ul>
          </div>
          <div class="team__slider-text-block">
            <ul class="team__slider-text">
              <li class="team__slider-text-item">
                Чемпион России 1998, 2006, 2009, 2010 и 2018
              </li>
              <li class="team__slider-text-item">
                Обладатель Кубка Гагарина 2009, 2010 и 2018
              </li>
            </ul>
            <div class="team__slider-pagination"></div>
          </div>
        </div>
      </section>
      <a href="http://www.tatneft.ru/" class="sponsor">
        <img src="img/logo/tatneft-logo.svg" width="178" height="56" alt="Логотип спонсора" class="sponsor__logo" />
        <span class="sponsor__description">
          Генеральный спонсор матчей с участием ХК «Ак Барс», ХК «Барс» и ХК «Ирбис»
        </span>
      </a>
      <section class="utility">
        <a href="#" class="utility__text-link">ХК «Ирбис»</a>
        <a href="#" class="utility__text-link">ХК «Барс»</a>
        <span class="utility__divider"></span>
        <div class="utility__social">
          <a class="utility__text-link utility__social-toggle">Мы в соц. сетях</a>
          <div class="utility__social-wrapper">
            <ul class="utility__social-menu">
              <li class="utility__social-menu-item">
                <a href="#" class="utility__social-link">
                  <div class="utility__social-icon-container">
                    <svg width="20" height="20" aria-hidden="true" class="icon-vk">
                      <use xlink:href="#vk" />
                    </svg>
                  </div>
                  Вконтакте
                </a>
              </li>
              <li class="utility__social-menu-item">
                <a href="#" class="utility__social-link">
                  <div class="utility__social-icon-container">
                    <svg width="20" height="20" aria-hidden="true" class="icon-fb">
                      <use xlink:href="#fb" />
                    </svg>
                  </div>
                  Facebook
                </a>
              </li>
              <li class="utility__social-menu-item">
                <a href="#" class="utility__social-link">
                  <div class="utility__social-icon-container">
                    <svg width="20" height="20" aria-hidden="true" class="icon-ok">
                      <use xlink:href="#ok" />
                    </svg>
                  </div>
                  Одноклассники
                </a>
              </li>
              <li class="utility__social-menu-item">
                <a href="#" class="utility__social-link">
                  <div class="utility__social-icon-container">
                    <svg width="20" height="20" aria-hidden="true" class="icon-instagram">
                      <use xlink:href="#instagram" />
                    </svg>
                  </div>
                  Instagram
                </a>
              </li>
              <li class="utility__social-menu-item">
                <a href="#" class="utility__social-link">
                  <div class="utility__social-icon-container">
                    <svg width="20" height="20" aria-hidden="true" class="icon-youtube">
                      <use xlink:href="#youtube" />
                    </svg>
                  </div>
                  YouTube
                </a>
              </li>
              <li class="utility__social-menu-item">
                <a href="#" class="utility__social-link">
                  <div class="utility__social-icon-container">
                    <svg width="20" height="20" aria-hidden="true" class="icon-twitter">
                      <use xlink:href="#twitter" />
                    </svg>
                  </div>
                  Twitter
                </a>
              </li>
              <li class="utility__social-menu-item">
                <a href="#" class="utility__social-link">
                  <div class="utility__social-icon-container">
                    <svg width="20" height="20" aria-hidden="true" class="icon-telegram">
                      <use xlink:href="#telegram" />
                    </svg>
                  </div>
                  Telegram
                </a>
              </li>
            </ul>
          </div>
        </div>
        <a href="#" class="utility__icon-link" id="search-button">
          <svg width="20" height="20" aria-hidden="true" class="icon-search">
            <use xlink:href="#search" />
          </svg>
          <span class="visually-hidden">Поиск</span>
        </a>
        <a href="#" class="utility__icon-link">
          <svg width="20" height="20" aria-hidden="true" class="icon-mobile">
            <use xlink:href="#mobile" />
          </svg>
          <span class="visually-hidden">Мобильная версия</span>
        </a>
        <a href="#" class="utility__icon-link">
          <svg width="20" height="20" aria-hidden="true" class="icon-search">
            <use xlink:href="#person" />
          </svg>
          <span class="visually-hidden">Личный кабинет</span>
        </a>
      </section>
    </div>
    <div class="page-header__bottom-panel">
      <nav class="main-nav">
        <ul class="main-nav__list">
          <li class="main-nav__list-item" tabindex="0">
            <a href="#" class="main-nav__link">Ак Барс</a>
            <div class="main-nav__submenu">
              <div class="main-nav__submenu-content">
                <h2 class="main-nav__submenu-heading">Ак Барс</h2>
                <ul class="main-nav__submenu-list">
                  <li class="main-nav__submenu-list-item">
                    <a href="#" class="main-nav__submenu-link">Таблицы</a>
                  </li>
                  <li class="main-nav__submenu-list-item">
                    <a href="team.html" class="main-nav__submenu-link">Команда</a>
                  </li>
                  <li class="main-nav__submenu-list-item">
                    <a href="#" class="main-nav__submenu-link">Статистика</a>
                  </li>
                  <li class="main-nav__submenu-list-item">
                    <a href="#" class="main-nav__submenu-link">Календарь</a>
                  </li>
                  <li class="main-nav__submenu-list-item">
                    <a href="#" class="main-nav__submenu-link">Плей-офф</a>
                  </li>
                  <li class="main-nav__submenu-list-item">
                    <a href="#" class="main-nav__submenu-link">Результаты</a>
                  </li>
                  <li class="main-nav__submenu-list-item">
                    <a href="#" class="main-nav__submenu-link">Регламент</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="main-nav__list-item">
            <a href="#" class="main-nav__link">Болельщики</a>
            <div class="main-nav__submenu main-nav__submenu--fans">
              <div class="main-nav__submenu-content">
                <h2 class="main-nav__submenu-heading">Болельщики</h2>
                <ul class="main-nav__submenu-list">
                  <li class="main-nav__submenu-list-item">
                    <a href="#" class="main-nav__submenu-link">
                      <span class="main-nav__submenu-icon">
                        <svg width="30" height="30" aria-hidden="true" class="icon-card">
                          <use xlink:href="#card" />
                        </svg>
                      </span>
                      Карта болельщика
                    </a>
                  </li>
                  <li class="main-nav__submenu-list-item">
                    <a href="#" class="main-nav__submenu-link">Прогнозы</a>
                  </li>
                  <li class="main-nav__submenu-list-item">
                    <a href="#" class="main-nav__submenu-link">Фан-сектор</a>
                  </li>
                  <li class="main-nav__submenu-list-item">
                    <a href="#" class="main-nav__submenu-link">Голосования</a>
                  </li>
                  <li class="main-nav__submenu-list-item">
                    <a href="#" class="main-nav__submenu-link">Гостевая книга</a>
                  </li>
                  <li class="main-nav__submenu-list-item">
                    <a href="#" class="main-nav__submenu-link">Полезные ссылки</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="main-nav__list-item">
            <a href="news.html" class="main-nav__link">Новости</a>
          </li>
          <li class="main-nav__list-item">
            <a href="#" class="main-nav__link">Медиа</a>
            <div class="main-nav__submenu">
              <div class="main-nav__submenu-content">
                <h2 class="main-nav__submenu-heading">Медиа</h2>
                <ul class="main-nav__submenu-list">
                  <li class="main-nav__submenu-list-item">
                    <a href="#" class="main-nav__submenu-link">Фотогалерея</a>
                  </li>
                  <li class="main-nav__submenu-list-item">
                    <a href="#" class="main-nav__submenu-link">Комната фаната</a>
                  </li>
                  <li class="main-nav__submenu-list-item">
                    <a href="#" class="main-nav__submenu-link">Видео с матчей</a>
                  </li>
                  <li class="main-nav__submenu-list-item">
                    <a href="#" class="main-nav__submenu-link">Программки</a>
                  </li>
                  <li class="main-nav__submenu-list-item">
                    <a href="#" class="main-nav__submenu-link">Видеоролики</a>
                  </li>
                  <li class="main-nav__submenu-list-item">
                    <a href="#" class="main-nav__submenu-link">Скачать</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </nav>
      <nav class="extra-links">
        <ul class="extra-links__list">
          <li class="extra-links__list-item">
            <a href="#" class="extra-links__link">
              <svg width="30" height="30" aria-hidden="true" class="icon-academy">
                <use xlink:href="#academy" />
              </svg>
              Академия
            </a>
          </li>
          <li class="extra-links__list-item">
            <a href="#" class="extra-links__link">
              <svg width="30" height="30" aria-hidden="true" class="icon-tickets">
                <use xlink:href="#tickets" />
              </svg>
              Билеты
            </a>
          </li>
          <li class="extra-links__list-item">
            <a href="#" class="extra-links__link">
              <svg width="30" height="30" aria-hidden="true" class="icon-shop">
                <use xlink:href="#shop" />
              </svg>
              Магазин
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
