<div class="partners">
  <h3 class="partners__heading">Партнеры Чемпионата КХЛ сезона 2018/2019</h3>
  <ul class="partners__list">
    <li class="partners__list-item">
      <a href="http://www.sogaz.ru/" target="_blank" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/sogaz.svg" alt="Согаз" class="partner__logo partner__logo--sogaz" width="74" />
        </div>
        <span class="partner__status">Генеральный партнер</span>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="http://www.mastercard.ru/" target="_blank" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/mastercard.svg" alt="Мастеркард" class="partner__logo partner__logo--mastercard" width="54" />
        </div>
        <span class="partner__status">Официальный партнер</span>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="http://www.eriell.com/ru/" target="_blank" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/eriell.svg" alt="Eriell" class="partner__logo partner__logo--eriell" width="100" />
        </div>
        <span class="partner__status">Официальный партнер</span>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="http://www.durex.ru/" target="_blank" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/durex.png" alt="Дюрекс" class="partner__logo partner__logo--durex" width="100" />
        </div>
        <span class="partner__status">Официальный партнер</span>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="http://www.rt.ru/" target="_blank" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/rostelecom.svg" alt="Ростелеком" class="partner__logo partner__logo--rostelecom" width="120" />
        </div>
        <span class="partner__status">Партнер</span>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="http://www.megafon.ru/" target="_blank" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/megafon.svg" alt="Мегафон" class="partner__logo partner__logo--megafon" width="130" />
        </div>
        <span class="partner__status">Партнер</span>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="https://www.sap.com/cis/index.html" target="_blank" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/sap.svg" alt="SAP" class="partner__logo partner__logo--sap" width="130" />
        </div>
        <span class="partner__status">Партнер</span>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="http://www.haier.com/ru/" target="_blank" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/haier.svg" alt="Haier" class="partner__logo partner__logo--haier" width="90" />
        </div>
        <span class="partner__status">Поставщик</span>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="http://www.hankooktire.com/ru" target="_blank" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/hankook.svg" alt="hankook" class="partner__logo partner__logo--hankook" width="120" />
        </div>
        <span class="partner__status">Поставщик</span>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="https://www.ey.com/ru/ru/home" target="_blank" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/ey.svg" alt="EY" class="partner__logo partner__logo--ey" width="60" />
        </div>
        <span class="partner__status">Поставщик</span>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="https://www.sport-express.ru/" target="_blank" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/sport-express.svg" alt="Спортэкспресс" class="partner__logo partner__logo--se" width="60" />
        </div>
        <span class="partner__status">Информационный партнер</span>
      </a>
    </li>
  </ul>
</div>
