<div class="partners">
  <h3 class="partners__heading">Партнеры</h3>
  <ul class="partners__list">
    
    <li class="partners__list-item">
      <a href="http://www.vhlru.ru/" target="_blank" class="partners__link">
        <div class="partners__logo-container partners__logo-container--bars">
          <img src="img/partners/VHL_logo.png" alt="ВХЛ" class="partner__logo" width="54" />
        </div>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="https://fhr.ru/" target="_blank" class="partners__link">
        <div class="partners__logo-container partners__logo-container--bars">
          <img src="img/partners/logotip_federacii_xokkeya_rossii.png" alt="Федерация Хоккея России" class="partner__logo" width="54" />
        </div>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="https://redmachine.ru/" target="_blank" class="partners__link">
        <div class="partners__logo-container partners__logo-container--bars">
          <img src="img/partners/red-machine.png" alt="Красная Машина" class="partner__logo" width="54" />
        </div>
      </a>
    </li>
    
  </ul>
</div>
