<div class="partners">
  <h3 class="partners__heading">Партнеры Чемпионата МХЛ сезона 2018/2019</h3>
  <ul class="partners__list">
    
    <li class="partners__list-item">
      <a href="http://www.mastercard.ru/" target="_blank" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/mastercard.svg" alt="Мастеркард" class="partner__logo partner__logo--mastercard" width="54" />
        </div>
        <span class="partner__status">Официальный партнер</span>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="http://www.eriell.com/ru/" target="_blank" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/eriell.svg" alt="Eriell" class="partner__logo partner__logo--eriell" width="100" />
        </div>
        <span class="partner__status">Официальный партнер</span>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="https://www.rb.com/ru/" target="_blank" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/RB.svg" alt="Reckitt Benckiser" class="partner__logo partner__logo--rb" width="100" />
        </div>
        <span class="partner__status">Официальный партнер</span>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="http://www.rt.ru/" target="_blank" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/rostelecom.svg" alt="Ростелеком" class="partner__logo partner__logo--rostelecom" width="120" />
        </div>
        <span class="partner__status">Партнер</span>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="http://www.haier.com/ru/" target="_blank" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/haier.svg" alt="Haier" class="partner__logo partner__logo--haier" width="90" />
        </div>
        <span class="partner__status">Поставщик</span>
      </a>
    </li>
  </ul>
</div>
