<div class="partners">
  <h3 class="partners__heading">Партнеры Чемпионата КХЛ сезона 2018/2019</h3>
  <ul class="partners__list">
    <li class="partners__list-item">
      <a href="#" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/sogaz.svg" alt="Согаз" class="partner__logo" width="74" />
        </div>
        <span class="partner__status">Генеральный партнер</span>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="#" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/mastercard.svg" alt="Мастеркард" class="partner__logo partner__logo--mastercard" width="54" />
        </div>
        <span class="partner__status">Официальный партнер</span>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="#" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/eriell.png" alt="Eriell" class="partner__logo" width="100" />
        </div>
        <span class="partner__status">Официальный партнер</span>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="#" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/durex.png" alt="Дюрекс" class="partner__logo partner__logo--durex" width="100" />
        </div>
        <span class="partner__status">Официальный партнер</span>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="#" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/rostelecom.svg" alt="Ростелеком" class="partner__logo" width="120" />
        </div>
        <span class="partner__status">Партнер</span>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="#" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/megafon.svg" alt="Мегафон" class="partner__logo partner__logo--megafon" width="130" />
        </div>
        <span class="partner__status">Партнер</span>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="#" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/haier.svg" alt="Haier" class="partner__logo partner__logo--haier" width="90" />
        </div>
        <span class="partner__status">Поставщик</span>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="#" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/hankook.png" alt="hankook" class="partner__logo partner__logo--hankook" width="120" />
        </div>
        <span class="partner__status">Поставщик</span>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="#" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/EY.svg" alt="EY" class="partner__logo partner__logo--ey" width="60" />
        </div>
        <span class="partner__status">Поставщик</span>
      </a>
    </li>
    <li class="partners__list-item">
      <a href="#" class="partners__link">
        <div class="partners__logo-container">
          <img src="img/partners/sportexpress.png" alt="EY" class="partner__logo partner__logo--se" width="60" />
        </div>
        <span class="partner__status">Информационный партнер</span>
      </a>
    </li>
  </ul>
</div>
