<section class="sidebar sidebar--prognosis-sidebar">
  <nav class="sidebar-nav">
    <ul class="sidebar-nav__list">
      <li class="sidebar-nav__list-item">
        <a href="abonements.html" class="sidebar-nav__link">
          Карта болельщика
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="prognosis.html" class="sidebar-nav__link sidebar-nav__link--has-submenu">
          Прогнозы
        </a>
        <ul class="sidebar-nav__submenu">
          <li class="sidebar-nav__submenu-list-item active">
            <a href="match-prognosis.html" class="sidebar-nav__submenu-link">Прогнозы на матчи</a>
          </li>
          <li class="sidebar-nav__submenu-list-item">
            <a href="my-prognosis-history.html" class="sidebar-nav__submenu-link">История моих прогнозов</a>
          </li>
          <li class="sidebar-nav__submenu-list-item">
            <a href="prognosis-best-score.html" class="sidebar-nav__submenu-link">Лучшие по очкам</a>
          </li>
          <li class="sidebar-nav__submenu-list-item">
            <a href="prognosis-top-efficiency.html" class="sidebar-nav__submenu-link">Топ эффективности</a>
          </li>
          <li class="sidebar-nav__submenu-list-item">
            <a href="prognosis-stats.html" class="sidebar-nav__submenu-link">Статистика</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="fan.html" class="sidebar-nav__link">
          Фан-сектор
        </a>
      </li>
     
      <li class="sidebar-nav__list-item">
        <a href="guest.html" class="sidebar-nav__link">
          Гостевая книга
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="useful.html" class="sidebar-nav__link">
          Полезные ссылки
        </a>
      </li>
    </ul>
  </nav>
  <div class="banner-column banner-column--left banner-column--news">
    <a href="#" class="banner-column__item" style="background-image: url(img/banners/hoki.png)">
    </a>
    <a href="#" class="banner-column__item" style="background-image: url(img/banners/гимн.png)">
    </a>
  </div>
</section>