<section class="sidebar sidebar--prognosis-sidebar">
  <nav class="sidebar-nav">
    <ul class="sidebar-nav__list">
      <li class="sidebar-nav__list-item">
        <a href="abonements.html" class="sidebar-nav__link">
          Карта болельщика
        </a>
      </li>
      <li class="sidebar-nav__list-item active">
        <a href="prognosis.html" class="sidebar-nav__link sidebar-nav__link--has-submenu sidebar-nav__link--collapsed">
          Прогнозы
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="fan.html" class="sidebar-nav__link">
          Фан-сектор
        </a>
      </li>
     
      <li class="sidebar-nav__list-item">
        <a href="guest.html" class="sidebar-nav__link">
          Гостевая книга
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="useful.html" class="sidebar-nav__link">
          Полезные ссылки
        </a>
      </li>
    </ul>
  </nav>
  <div class="banner-column banner-column--left banner-column--prognosis">
    <a href="#" class="banner-column__item" style="background-image: url(img/banners/hoki.png)">
    </a>
    <a href="#" class="banner-column__item" style="background-image: url(img/banners/гимн.png)">
    </a>
  </div>
</section>