<div class="search-modal js-search-modal">
  <form action="/search.html" class="search-modal__form" method="GET">
    <input type="text" name="q" class="search-modal__input" placeholder="Введите поисковый запрос" />
    <button type="submit" class="search-modal__submit js-search-modal-submit">
      <svg width="20" height="20" aria-hidden="true" class="icon-search-modal">
        <use xlink:href="#search" />
      </svg>
      Найти
    </button>
  </form>
  <button class="search-modal__close js-search-modal-close">
    <svg width="24" height="24" aria-hidden="true" class="icon-search-modal-close">
      <use xlink:href="#cross"/>
    </svg>
  </button>
</div>