<section class="sidebar">
  <nav class="sidebar-nav">
    <ul class="sidebar-nav__list">
      <li class="sidebar-nav__list-item active">
        <a href="team.html" class="sidebar-nav__link">
          Команда
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="calendar.html" class="sidebar-nav__link">
          Календарь
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="results.html" class="sidebar-nav__link">
          Результаты
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="#" class="sidebar-nav__link">
          Таблицы
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="statistics.html" class="sidebar-nav__link">
          Статистика
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="#" class="sidebar-nav__link">
          Плей-офф
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="#" class="sidebar-nav__link">
          Регламент
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="#" class="sidebar-nav__link">
          История
        </a>
      </li>
    </ul>
  </nav>
  <div class="banner-column banner-column--left banner-column--news">
    <div class="banner-column__item" style="background-image: url(img/banners/hoki.png)">
    </div>
    <div class="banner-column__item" style="background-image: url(img/banners/гимн.png)">
    </div>
  </div>
</section>