<section class="sidebar">
  <nav class="sidebar-nav">
    <ul class="sidebar-nav__list">
      <li class="sidebar-nav__list-item active">
        <a href="photogallery.html" class="sidebar-nav__link">
          Фотогалерея
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="videos.html" class="sidebar-nav__link">
          Видео
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="programs.html" class="sidebar-nav__link">
          Программки
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="download.html" class="sidebar-nav__link">
          Скачать
        </a>
      </li>
    </ul>
  </nav>
  <div class="banner-column banner-column--left banner-column--news">
    <div class="banner-column__item" style="background-image: url(img/banners/hoki.png)"></div>
    <div class="banner-column__item" style="background-image: url(img/banners/гимн.png)"></div>
  </div>
</section>
