<section class="sidebar">
  <nav class="sidebar-nav">
    <ul class="sidebar-nav__list">
      <li class="sidebar-nav__list-item active">
        <a href="#" class="sidebar-nav__link">
          Команда
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="#" class="sidebar-nav__link">
          Календарь
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="#" class="sidebar-nav__link">
          Результаты
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="#" class="sidebar-nav__link">
          Таблицы
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="#" class="sidebar-nav__link">
          Статистика
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="#" class="sidebar-nav__link">
          Плей-офф
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="#" class="sidebar-nav__link">
          Регламент
        </a>
      </li>
      <li class="sidebar-nav__list-item">
        <a href="#" class="sidebar-nav__link">
          История
        </a>
      </li>
    </ul>
  </nav>
  <div class="banner-column banner-column--left banner-column--news">
    <div class="banner-column__item">
      #АЙДА ЗА ХОКАМИ
    </div>
    <div class="banner-column__item" style="color: #256963">
      #ГИМН ХК «АК БАРС»
    </div>
  </div>
</section>