<div class="sidebar js-sidebar">
    <div class="sidebar__content">
      <div class="toggles">
        <a href="#" class="toggles__login-link">
          <svg width="22" height="22" aria-hidden="true" class="icon-login">
            <use xlink:href="#login" />
          </svg>
          Вход
        </a>
        <a href="index.html" class="toggles__full-version-link">
          <svg width="23" height="19" aria-hidden="true" class="icon-full">
            <use xlink:href="#full" />
          </svg>
          Полная версия
        </a>
        <button class="toggles__close-sidebar-button js-burger-close">
          <svg width="16" height="16" aria-hidden="true" class="icon-cross-fat">
            <use xlink:href="#cross-fat" />
          </svg>
        </button>
      </div>
      <div class="shop-and-tickets">
        <a href="#" class="shop-and-tickets__link">
          <span class="shop-and-tickets__icon-container">
            <svg width="20" height="22" aria-hidden="true" class="icon-tickets">
              <use xlink:href="#tickets" />
            </svg>
          </span>
          Билеты
        </a>
        <a href="#" class="shop-and-tickets__link">
          <span class="shop-and-tickets__icon-container">
            <svg width="16" height="18" aria-hidden="true" class="icon-shop">
              <use xlink:href="#shop" />
            </svg>
          </span>
          Магазин
        </a>
      </div>
      <nav class="main-nav">
        <ul class="main-nav__list">
          <li class="main-nav__list-item">
            <a href="#" class="main-nav__link">Главная</a>
          </li>
          <li class="main-nav__list-item">
            <a href="#" class="main-nav__link main-nav__link--has-submenu js-submenu-toggle">Ак Барс</a>
            <ul class="main-nav__submenu-list js-submenu">
              <li class="main-nav__submenu-list-item">
                <a href="#" class="main-nav__submenu-link">Команда</a>
              </li>
              <li class="main-nav__submenu-list-item">
                <a href="results-page-m.html" class="main-nav__submenu-link">Результаты</a>
              </li>
              <li class="main-nav__submenu-list-item">
                <a href="#" class="main-nav__submenu-link">Таблицы</a>
              </li>
              <li class="main-nav__submenu-list-item">
                <a href="#" class="main-nav__submenu-link">Статистика</a>
              </li>
              <li class="main-nav__submenu-list-item">
                <a href="#" class="main-nav__submenu-link">История</a>
              </li>
            </ul>
          </li>
          <li class="main-nav__list-item">
            <a href="news-all-m.html" class="main-nav__link">Новости</a>
          </li>
          <li class="main-nav__list-item">
            <a href="#" class="main-nav__link main-nav__link--has-submenu js-submenu-toggle">Медиа</a>
            <ul class="main-nav__submenu-list js-submenu">
              <li class="main-nav__submenu-list-item">
                <a href="#" class="main-nav__submenu-link">Видео</a>
              </li>
              <li class="main-nav__submenu-list-item">
                <a href="#" class="main-nav__submenu-link">Фото</a>
              </li>
            </ul>
          </li>
          <li class="main-nav__list-item">
            <a href="#" class="main-nav__link">Гостевая</a>
          </li>
        </ul>
      </nav>
      <div class="clubs">
        <a href="#" class="clubs__academy">
          <svg width="19" height="18" aria-hidden="true" class="icon-academy">
            <use xlink:href="#academy" />
          </svg>
          Академия
        </a>
        <ul class="clubs__list">
          <li class="clubs__list-item selected">
            <a href="#" class="clubs__link">
              ХК «АК БАРС»
            </a>
          </li>
          <li class="clubs__list-item">
            <a href="#" class="clubs__link">
              ХК «БАРС»
            </a>
          </li>
          <li class="clubs__list-item">
            <a href="#" class="clubs__link">
              ХК «ИРБИС»
            </a>
          </li>
        </ul>
      </div>
      <ul class="social">
        <li class="social__item">
          <a href="#" class="social__link">
            <svg width="28" height="17" aria-hidden="true" class="icon-vk">
              <use xlink:href="#vk" />
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link">
            <svg width="25" height="25" aria-hidden="true" class="icon-instagram">
              <use xlink:href="#instagram" />
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link">
            <svg width="27" height="20" aria-hidden="true" class="icon-youtube">
              <use xlink:href="#youtube" />
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a href="#" class="social__link">
            <svg width="27" height="20" aria-hidden="true" class="icon-twitter">
              <use xlink:href="#twitter" />
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link">
            <svg width="13" height="22" aria-hidden="true" class="icon-fb">
              <use xlink:href="#fb" />
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link">
            <svg width="16" height="26" aria-hidden="true" class="icon-ok">
              <use xlink:href="#ok" />
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link">
            <svg width="27" height="22" aria-hidden="true" class="icon-telegram">
              <use xlink:href="#telegram" />
            </svg>
          </a>
        </li>
      </ul>
      <a href="#" class="sponsor">
        <span class="sponsor__logo">
          <img src="img/logo/tatneft-logo-white.svg" alt="Логотип спонсора" width="130px" height="38" />
        </span>
        <span class="sponsor__text">
          Генеральный спонсор матчей с участием ХК «Ак Барс», ХК «Барс» и ХК «Ирбис»
        </span>
      </a>
    </div>
  </div>