.ak-bars-info {
  width: 634px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  .tabs__navigation button {
    padding-left: 35px;
    padding-right: 35px;

    svg {
      margin-right: 20px;
    }
  }
}

.ak-bars-info__content {
  padding: 20px;
  padding-top: 52px;
  padding-bottom: 26px;
}

.ak-bars-info__selected-video {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  // margin-top: 32px;
  .ak-bars-info__video-link {
    width: 400px;
    height: 270px;
    width: 100%;
  }
}

.ak-bars-info__video-preview {
  width: 100%;
  height: 100%;
  @include objectFitCover();
}

.ak-bars-info__selected-video-text {
  font-size: 16px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
}

.ak-bars-info__video-link {
  display: block;
  width: 174px;
  height: 116px;
  position: relative;
  outline: none;
  &:hover,
  &:focus {
    .ak-bars-info__play-icon {
      fill-opacity: 1;
    }
  }
}

.ak-bars-info__play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: white;
  fill-opacity: 0.8;
  transition: fill-opacity 0.3s;
}

.ak-bars-info__video-preview {
  display: block;
}

.ak-bars-info__selected-video-details-link {
  font-size: 16px;
  line-height: 20px;
  color: $green;
  outline: none;
  font-family: 'Supermolot', 'Helvetica', sans-serif;

  &:link,
  &:visited {
    color: $green;
  }
  &::after {
    content: ' >';
    color: $red;
  }

  &:hover,
  &:focus {
    .ak-bars-info__selected-video-details-link-text {
      &::before {
        opacity: 1;
      }
    }
  }

  &-text {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1.5px;
      background-color: $green;
      opacity: 0;
      transition: all 0.2s;
    }
  }
}

.ak-bars-info__all-videos-link {
  font-size: 16px;
  line-height: 20px;
  border: 2px solid $green;
  display: inline-block;
  padding: 14px 46px;
  transition: all 0.3s;
  color: $green;
  align-self: flex-start;
  margin-right: auto;
  margin-top: auto;
  &:link,
  &:visited {
    color: $green;
  }

  &:hover,
  &:focus {
    border: 2px solid $red;
  }
}

.ak-bars-info__videos-slider {
  width: 174px;
  position: relative;
  &::after {
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    position: absolute;
    z-index: 20;
    pointer-events: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+70&0+0,1+70 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 70%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 70%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }
  .slick-vertical .slick-slide {
    border: none;
  }

  .slick-slide {
    outline: none;
  }
}

.ak-bars-info__videos-item {
  display: block !important;
  margin-bottom: 20px;
}

.ak-bars-info__videos-slider-button {
  position: absolute;
  left: 50%;
  margin-left: -8px;
  width: 16px;
  height: 16px;
  outline: none;
  z-index: 30;
  &:hover,
  &:focus {
    > svg {
      fill: #3c8f88;
    }
  }
  > svg {
    width: 16px;
    height: 16px;
    fill: $green;
    transition: fill 0.3s;
    position: relative;
  }
  &--prev {
    bottom: calc(100% + 16px);
  }
  &--next {
    bottom: 0;
  }
}
