.banner {
  margin-left: 20px;
  width: 240px;
  background-color: #fff;
  height: 230px;
  color: $red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 22px;
}


.banner-column {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  margin-left: 20px;
  width: 240px;
  &__item {
    background-color: #fff;
    color: $red;
    width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}