.calendar {
  width: 634px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  .tabs__navigation button {
    padding-left: 28px;
    padding-right: 28px;
    .tabs__button-content {
      > svg {
        &.icon-51 {
          width: 22px;
          height: 18px;
        }
      }
    }
  }
}

.tabs__item--calendar-tab {
  flex-direction: column;
  padding: 20px;
  padding-bottom: 30px;
  min-height: 610px;
}

.calendar__controls {
  display: flex;
  background-color: #ebebeb;
  width: 100%;
  // justify-content: space-between;
  align-items: center;
}

.calendar__button {
  width: 35px;
  height: 35px;
  background-color: $green;
  outline: none;
  transition: background-color 0.2s;
  &:hover,
  &:focus {
    background-color: #3c8f88;
  }
  &-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    > svg {
      fill: white;
    }
  }
}

.calendar__month {
  color: #242f37;
  font-weight: 700;
  font-size: 16px;
  line-height: 35px;
  flex-grow: 1;
  flex-basis: 50%;
  text-align: center;
}

.calendar__dates {
  margin-top: 23px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  table {
    width: calc(100% + 12px);
    margin-left: -6px;
    border-collapse: collapse;
    table-layout: fixed;
    tr {
      td {
        padding: 6px;
        position: relative;
        > * {
          position: absolute;
        }
      }
    }
  }

  th {
    font-size: 18px;
    line-height: 18px;
    color: $green;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
  }

  td {
    .calendar__date-info {
      // width: 75px;
      height: 65px;
      background-color: #ebebeb;
      color: #606366;

      padding: 10px;
      padding-bottom: 5px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      position: relative;
      &.last-month {
        color: #c0c0c0;
      }
    }

    .calendar__date-info-day {
      position: relative;
      z-index: 3;
      pointer-events: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      line-height: 24px;
      transition: color 0.3s;
      position: relative;
      &::after {
        content: attr(data-day);
        font-size: 18px;
        line-height: 24px;
        text-stroke: 3px #ebebeb;
        -moz-text-stroke-color: #ebebeb;
        -webkit-text-stroke-color: #ebebeb;
        -moz-text-stroke-width: 3px;
        -webkit-text-stroke-width: 3px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.1s;
      }
    }

    .calendar__date-link {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s;
      z-index: 2;
      transition: all 0.3s;

      &.marked-red {
        border: 2px solid $red;
        &:hover,
        &:focus {
          background-color: $red;
          & ~ .calendar__date-info-day {
            color: white;
            &::after {
              text-stroke: 3px $red;
              -moz-text-stroke-color: $red;
              -webkit-text-stroke-color: $red;
            }
          }
        }
      }

      &.marked-green {
        border: 2px solid $green;
        &:hover,
        &:focus {
          background-color: $green;
          & ~ .calendar__date-info-day {
            color: white;
            &::after {
              text-stroke: 3px $green;
              -moz-text-stroke-color: $green;
              -webkit-text-stroke-color: $green;
            }
          }
        }
      }

      > img {
        width: 100%;
        height: 100%;
        display: block;
        @include objectFitCover();
      }
    }
  }
}

.calendar__legend {
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 20px;
}

.calendar__legend-item {
  color: #606366;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  margin-right: 42px;
  &::before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid #606366;
    margin-right: 12px;
  }

  &--home {
    &::before {
      border-color: $green;
    }
  }
  &--guest {
    &::before {
      border-color: $red;
    }
  }
}

.calendar__links {
  display: flex;
  align-items: center;
  margin-top: 62px;
  margin-top: auto;
}

.calendar__team-calendar-link {
  font-size: 14px;
  line-height: 20px;
  border: 2px solid $green;
  display: inline-block;
  padding: 13px 27px;
  transition: all 0.3s;
  color: $green;
  margin-right: 20px;
  &:link,
  &:visited {
    color: $green;
  }

  &:hover,
  &:focus {
    border: 2px solid $red;
  }
}

.calendar__all-calendar-link {
  font-size: 16px;
  line-height: 20px;
  color: $green;
  outline: none;
  font-family: 'Supermolot', 'Helvetica', sans-serif;
  transition: color 0.3s;
  &:link,
  &:visited {
    color: $green;
  }
  &::after {
    content: ' >';
    color: $red;
  }

  &:hover,
  &:focus {
    color: $red;
  }
}
