.conference {
  width: 326px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: relative;
  .tabs__navigation {
    button {
      padding-left: 0;
      padding-right: 0;
      &:nth-child(1) {
        width: 140px;
      }
      &:nth-child(2) {
        width: 120px;
      }
      &:nth-child(3) {
        width: 62px;
      }
    }
  }

  .slick-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .slick-track {
    display: flex;
    flex-grow: 1;
  }

  .slick-slide {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.tabs__item--conference-tab {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  position: relative;
}

.conference__slider-controls {
  display: flex;
  padding: 20px;
  flex-shrink: 0;
}

.conference__name {
  background-color: #ebebeb;
  flex-grow: 1;
  color: #242f37;
  font-weight: 700;
  font-size: 16px;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.conference__conference-name-slider {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  &-item {
    display: flex !important;
    line-height: 35px;
  }
}

.conference__slider-button {
  width: 35px;
  height: 35px;
  background-color: $green;
  outline: none;
  transition: background-color 0.2s;
  &:hover,
  &:focus {
    background-color: #3c8f88;
  }
  &-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    > svg {
      fill: white;
    }
  }
}

.conference__info {
  height: 490px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.conference__info-slider {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    background-color: #ebebeb;
    th {
      color: #242f37;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      line-height: 36px;
      font-weight: 700;
      &:first-child {
        padding-left: 20px;
      }
      &:last-child {
        padding-right: 20px;
      }
    }
  }

  tbody {
    tr {
      transition: background-color 0.15s;
      cursor: default;
      &.selected {
        background-color: $red;
        td {
          color: white;
          &::before {
            background-color: $red;
            width: 100%;
          }
        }

        + tr {
          td {
            &::before {
              background-color: $red;
              width: 100%;
            }
          }
          &:hover,
          &:focus {
            td {
              &::before {
                background-color: $red !important;
                width: 100% !important;
              }
            }
          }

          
        }
      }

      &:first-child {
        td {
          &::before {
            display: none;
          }
        }
      }

      &:hover:not(.selected) {
        background-color: #dde8e7;
        td {
          &::before {
            background-color: #dde8e7;
            width: 100%;
          }
        }

        + tr:not(.selected) {
          td {
            &::before {
              width: 100%;
              background-color: #dde8e7;
            }
          }
        }
      }
    }

    td {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      line-height: 36px;
      color: #242f37;
      transition: color 0.15s;
      position: relative;
      &:nth-child(2) {
        font-size: 14px;
      }
      &:nth-child(3) {
        padding-right: 10px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        height: 1px;
        background-color: #ebebeb;
        left: 0;
        width: 100%;
        transition: background-color 0.2s;
      }

      &:first-child {
        padding-left: 20px;
        padding-right: 2px;
        &::before {
          content: '';
          position: absolute;
          right: 0;
          left: auto;
          width: calc(100% - 20px);
        }
      }
      &:last-child {
        padding-right: 20px;
        font-weight: 700;
        &::before {
          content: '';
          left: 0;
          right: auto;
          width: calc(100% - 20px);
        }
      }
    }

    .conference__number {
      color: #606366;
      font-size: 16px;
    }
  }
}

.conference__all-tables {
  // margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: absolute;
  bottom: 30px;

  left: 0;
  width: 100%;
  height: 140px;
  z-index: 10;
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    pointer-events: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+70&0+0,1+70 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 70%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 70%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }
}

.conference__all-tables-link {
  font-size: 14px;
  line-height: 20px;
  border: 2px solid $green;
  display: inline-block;
  padding: 13px 47px;
  transition: all 0.3s;
  color: $green;

  &:link,
  &:visited {
    color: $green;
  }

  &:hover,
  &:focus {
    border: 2px solid $red;
  }
}

.conference__info-slider {
  .slick-track {
    display: flex;
  }

  .slick-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    > div {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
}

.conference__info-slider-item {
  display: flex !important;
  flex-direction: column;
  padding-bottom: 110px;
}
