.conference {
  width: 326px;
  display: flex;
  flex-direction: column;
  position: relative;
  .tabs__navigation {
    button {
      width: 50%;
    }
  }
}

.tabs__item--conference-tab {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  position: relative;
}

.conference__slider-controls {
  display: flex;
  padding: 20px;
  flex-shrink: 0;
}

.conference__name {
  background-color: #ebebeb;
  flex-grow: 1;
  color: #242f37;
  font-weight: 700;
  font-size: 16px;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.conference__conference-name-slider {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  &-item {
    display: flex !important;
    font-size: 14px;
    line-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.conference__slider-button {
  width: 35px;
  height: 35px;
  background-color: $green;
  outline: none;
  transition: background-color 0.2s;
  &:hover,
  &:focus {
    background-color: #3c8f88;
  }
  &-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    > svg {
      fill: white;
    }
  }
}

.conference__info {
  height: 490px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.conference__regular-table {
  width: 100%;
  border-collapse: collapse;

  thead {
    background-color: #ebebeb;
    th {
      color: #242f37;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      line-height: 40px;
      font-weight: 700;
      &:first-child {
        padding-left: 20px;
      }
      &:last-child {
        padding-right: 20px;
      }
    }
  }

  &--special {
    thead {
      th {
        color: $green;
      }
    }
  }

  tbody {
    tr {
      transition: background-color 0.15s;
      cursor: default;
      &.selected {
        background-color: $red;
        td {
          color: white;
          &::before {
            background-color: $red;
            width: 100%;
          }
        }

        + tr {
          td {
            &::before {
              background-color: $red;
              width: 100%;
            }
          }
          &:hover,
          &:focus {
            td {
              &::before {
                background-color: $red !important;
                width: 100% !important;
              }
            }
          }
        }
      }

      &:first-child {
        td {
          &::before {
            display: none;
          }
        }
      }

      &:hover:not(.selected) {
        background-color: #dde8e7;
        td {
          &::before {
            background-color: #dde8e7;
            width: 100%;
          }
        }

        + tr:not(.selected) {
          td {
            &::before {
              width: 100%;
              background-color: #dde8e7;
            }
          }
        }
      }
    }

    td {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      line-height: 40px;
      color: #242f37;
      transition: color 0.15s;
      position: relative;
      &:nth-child(2) {
        font-size: 14px;
      }
      &:nth-child(3) {
        padding-right: 10px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        height: 1px;
        background-color: #ebebeb;
        left: 0;
        width: 100%;
        transition: background-color 0.2s;
      }

      &:first-child {
        padding-left: 20px;
        padding-right: 2px;
        &::before {
          content: '';
          position: absolute;
          right: 0;
          left: auto;
          width: calc(100% - 20px);
        }
      }
      &:last-child {
        padding-right: 20px;
        font-weight: 700;
        &::before {
          content: '';
          left: 0;
          right: auto;
          width: calc(100% - 20px);
        }
      }

    
    }

    .conference__number {
      color: #606366;
      font-size: 16px;
    }
  }
}

.conference__all-tables {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: absolute;
  bottom: 30px;

  left: 0;
  width: 100%;

  z-index: 10;
  &::before {
    content: '';
    width: 100%;
    height: 160px;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    pointer-events: none;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+70&0+0,1+70 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 70%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 70%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }
}

.conference__all-tables-link {
  font-size: 14px;
  line-height: 20px;
  border: 2px solid $green;
  display: inline-block;
  padding: 13px 47px;
  transition: all 0.3s;
  color: $green;

  &:link,
  &:visited {
    color: $green;
  }

  &:hover,
  &:focus {
    border: 2px solid $red;
  }
}

.conference__info-slider-item {
  display: flex !important;
  flex-direction: column;
  padding-bottom: 160px;
}

.conference__conference-heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: #242f37;
  margin-bottom: 5px;
  padding: 0 20px;
}

.conference__card {
  margin-bottom: 25px;
}

.conference__playoff-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  thead {
    background-color: #ebebeb;
    th {
      font-size: 16px;
      line-height: 36px;
      font-weight: 700;
      position: relative;
      color: $green;
      &:first-child {
        padding-left: 20px;
        padding-right: 10px;
      }
      &:last-child {
        padding-right: 20px;
        padding-left: 12px;
      }

      &:hover {
        .conference__playoff-tooltip {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  tbody {
    &:last-child {
      tr {
        &:nth-child(3) {
          td {
            
            &:last-child {
              &::after {
                content: '';
                position: absolute;
                bottom: -3px;
                right: 0;
                width: 266px;
                height: 3px;
                background-color: #ebebeb;
              }
              &::before {
                display: none;
              }
            }
          }
        }
      }
    }

    &:hover {
      
      tr:not(.selected) {
        &:nth-child(1) {
          td {
            &:last-child {
              background-color: #dde8e7;
            }
          }
        }
        &:nth-child(2) {
          td {
            &:last-child {
              background-color: #dde8e7;
            }
          }
        }
      }

    }

    td {
      font-size: 14px;
      line-height: 24px;
      color: #242f37;
      transition: color 0.15s;
      position: relative;
      font-weight: 400;
      transition: background-color 0.2s, border 0.2s;
      sup {
        color: #94999f;
        font-size: 10px;
        line-height: 24px;
      }

      &:first-child:not([colspan="2"]) {
        padding-left: 20px;
        padding-right: 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
      }
      &:last-child:not([colspan="2"]) {
        padding-right: 20px;
        padding-left: 10px;
        font-size: 14px;
        line-height: 24px;
      }
    }

    tr {
      &:nth-child(4n + 1) {
        td {
          border-top: 18px solid white;
          padding-top: 3px;
          
        }
      }

      &:nth-child(2),
      &:nth-child(3n - 1) {
        td {
          padding-bottom: 6px;
        }
      }

      &:nth-child(3n) {
        td {
          // border-bottom: 18px solid white;
          position: relative;
          padding-bottom: 15px;
          &:last-child {
            &::before {
              content: '';
              position: absolute;
              bottom: 0;
              right: 0;
              width: 266px;
              height: 1px;
              background-color: #ebebeb;
              transition: background-color 0.2s;
            }
          }
        }
      }

      &:nth-child(4n) {
        td {
          padding-left: 60px;
        }
        
      }

      &.selected {
        td {
          &:last-child {
            background-color: $red;
            color: white;
            sup {
              color: rgba(white, 0.6);
            }
          }
        }
        &.defeated {
          td {
            &:last-child {
              color: rgba(white, 0.6);
              sup {
                color: rgba(white, 0.6);
              }
            }
          }
        }
      }

      &.defeated {
        td {
          &:last-child {
            color: #94999f;
            sup {
              color: #94999f;
            }
          }
        }
      }
    }
  }
}

.conference__playoff-history {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #94999f;
  position: relative;
  outline: none;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 3px;
    height: 1px;
    width: 100%;
    // background-color: #94999f;
    background-image: linear-gradient(to right, #94999f 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 3px 1px;
    background-repeat: repeat-x;
  }
  &:link,
  &:visited {
    color: #94999f;
  }
}

.conference__playoff-tooltip {
  top: calc(100% + 2px);
  left: 6px;
  font-weight: 400;
  // transform: translateX(-50%);
  border-radius: 5px;
  filter: drop-shadow(0px 5px 30px rgba(black, 0.2));
  padding: 6px 12px;
  background-color: #fff;
  color: #606366;
  font-size: 16px;
  line-height: 18px;
  position: absolute;
  z-index: 20;
  white-space: nowrap;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  &::before {
    content: '';
    position: absolute;
    display: block;
    bottom: 100%;
    left: 10px;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
  }
}

.conference__playoff-table-tooltip {

  width: 100%;
  position: relative;
  // top: -1px;
  z-index: 50;
  transition: opacity 0.3s, visibility 0s linear .3s;
 
  opacity: 0;
  visibility: hidden;
  &.shown {
    opacity: 1;
    visibility: visible;
    transition: all .3s;
  }

  &-table-wrapper {
    padding: 10px 15px;
  }

  &::after {
    content: '';
    bottom: 100%;
    left: 0;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #ebebeb;
  }
  
  &::before {
    content: '';
    position: absolute;
    bottom: calc(100% + 1px);
    left: 20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #ebebeb;
    z-index: 60;
  }
  &-content {
    position: relative;
    background-color: #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    z-index: 50;
    overflow: hidden;
    display: none;
    
  }

  .table-simulation {
    display: table;
    border-collapse: collapse;
    width: 100%;
    .table-row-simulation {
      display: table-row;
      span {
        display: table-cell;
        font-size: 14px;
        line-height: 24px;
        color: #242f37;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        &:last-child {
          font-weight: 700;
          padding-right: 20px;
        }
      }

      &:nth-child(2n):not(:last-child) {
        span {
          padding-bottom: 10px;
        }
      }


      &:nth-child(2n + 1) {
        span {
          color: #94999F;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
}

.conference__playoff-history:hover + .conference__playoff-table-tooltip {
  opacity: 1;
  visibility: visible;
}

.conference__top-gradient {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, white, rgba(white, 0));
  height: 70px;
  z-index: 50;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, visibility 0s linear 0.3s;
  &.shown {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
  }
}

.conference__playoff-gradient-wrapper {
  position: relative;
}

.conference__playoff-card {
  position: relative;
  margin-bottom: 40px;
}



@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}



