.cookie-policy {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 12000;
  background-color: rgba($green, .9);
  transition: all .3s;
  opacity: 0;
  visibility: hidden;
  
  > .container {
    display: flex;
    align-items: center;
  }

  &.shown {
   opacity: 1;
   visibility: visible;
  }
}

.cookie-policy__text {
  width: 50%;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.cookie-policy__privacy-policy-link {
  color: white;
  text-decoration: underline;
  &:link,
  &:visited {
    color: white;
  }
}

.cookie-policy__accept-button {
  border: 2px solid white;
  padding: 15px 35px;
  margin-left: 20px;
  font-weight: 400;
  text-transform: uppercase;
  outline: none;
  transition: all .3s;

  background-color: #fff;
  color: $red;
  &:hover,
  &:focus {
    
    
  }
}