.extra-links {
  margin-left: auto;
  &__list {
    display: flex;
    align-items: center;
    &-item {
      margin-right: 22px;
      &:first-child {
        margin-right: 41px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__link {
    color: $green;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    transition: color .2s;
    outline: none;
    > svg {
      fill: $red;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      position: relative;
      bottom: 1px;
      &.icon-academy {
        bottom: 0;
      }
      &.icon-shop {
        width: 20px;
        height: 20px;
        bottom: 2px;
      }
      &.icon-tickets {
        width: 23px;
        height: 23px;
        position: relative;
        bottom: 1px;
      }
    }
    &:link,
    &:visited {
      color: $green;
    }
    &:hover,
    &:focus {
      color: $red;
    }
  }
  
}