.main-nav {
  position: relative;
  z-index: 5000;
}

.main-nav__list {
  display: flex;
}

.main-nav__list-item {
  margin-right: 2px;
  display: flex;
  flex-direction: column;
  outline: none;
  &:last-child {
    margin-right: 0;
  }

  &:hover {
    .main-nav__submenu {
      opacity: 1;
      visibility: visible;
      box-shadow: 0px 10px 50px rgba(black, 0.2);
    }

    .main-nav__link {
      background-color: #3c8f88;
    }

    .main-nav__link--tickets {
      background-color: #E24145;
      
    }
  }

  
}

.main-nav__link {
  display: block;
  padding: 10px;
  min-width: 165px;
  min-height: 50px;
  padding-top: 14px;
  text-align: center;
  color: white;
  background-color: $green;
  text-transform: uppercase;
  transition: background-color 0.3s;
  outline: none;
  font-size: 14px;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  > svg {
    margin-right: 5px;
    fill: white;
  }
  &:link,
  &:visited {
    color: white;
    cursor: pointer;
  }

  &:not(.main-nav__link--tickets) {
    &:hover,
    &:focus {
      background-color: #3c8f88;
    }
  }

  &--tickets {
    background-color: $red;
    &:hover,
    &:focus {
      background-color: $red;
    }
  }
}

.main-nav__submenu {
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 22px 34px;
  padding-top: 15px;
  padding-bottom: 25px;
  transition: all 0.3s;
  box-shadow: 0px 0px 0px rgba(black, 0.2);
  opacity: 0;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  z-index: 10000;
  &:focus-within {
    opacity: 1;
    visibility: visible;
    box-shadow: 0px 10px 50px rgba(black, 0.2);
  }
}

.main-nav__submenu-content {
  display: flex;
}

.main-nav__submenu-list {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin-left: auto;
  margin-top: 18px;
  &-item {
    width: 50%;
    margin-bottom: 14px;
    &:nth-child(even) {
      padding-left: 17px;
    }
  }

  &--team {
    width: 55%;
  }

  &--media {
    width: 55%;
  }

  &--tickets {
    width: 60%;
  }


  &--fans {
    width: 52.8%;
  }


}


.main-nav__submenu-list--fans .main-nav__submenu-list-item {
  width: 100%;
  &:nth-child(even) {
    padding-left: 0;
  }
}

.main-nav__submenu-info {
  margin-right: 35px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.main-nav__submenu-heading {
  font-size: 34px;
  line-height: 60px;
  color: $green;
  text-transform: uppercase;
  margin-bottom: 18px;
  
}

.main-nav__submenu-link {
  color: $green;
  outline: none;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  position: relative;
  display: flex;
  align-items: center;
  &:link,
  &:visited {
    color: $green;
  }
  &:hover,
  &:focus {
    color: $red;
  }
}


.main-nav__submenu-buy-link {
  color: $green;
  margin-top: auto;
  border: 2px solid $green;
  padding: 12px 18px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: all .2s;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .2px;
  align-self: flex-start;
  > svg {
    fill: $green;
    margin-right: 8px;
    transition: all .2s;
  }
  &:link,
  &:visited {
    color: $green;
  }
  &:hover,
  &:focus {
    border-color: $red;
    color: $red;
    > svg {
      fill: $red;
    }
  }
}

.main-nav__submenu-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  margin-left: -33px;
  > svg {
    width: 15px;
    height: 15px;
    fill: $red;
    &.icon-card {
      width: 23px;
      height: 16px;
    }
  }
}


