.match-info {
  width: 326px;
  display: flex;
  flex-direction: column;
  .tabs__navigation button {
    padding-left: 0;
    padding-right: 0;
    width: 45%;
    flex-grow: 1;
  }
}

.match-info__date-time {
  background-color: #EBEBEB;
  padding: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.match-info__date {
  color: #242F37;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  display: block;
}

.match-info__place-and-time {
  color: #606366;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
}

.match-info__item {
  display: flex;
  flex-direction: column;
  min-height: 490px;
}

.match-info__teams {
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 20px;
}

.match-info__team {
  display: flex;
  flex-direction: column;
  width: 110px;
}

.match-info__score {
  font-size: 34px;
  line-height: 42px;
  font-weight: 700;
  align-self: flex-start;
  margin-top: 30px;
}

.match-info__team-logo {
  width: 96px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  > img {
    display: block;
  }
}

.match-info__team-name {
  color: #242F37;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  display: block;
  margin-top: 15px;
}

.match-info__team-origin {
  color:#606366;
  font-size: 14px;
  line-height: 16px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin-top: 7px;
}

.match-info__media {
  padding: 20px;
  padding-bottom: 30px;
  padding-left: 35px;
  padding-right: 35px;
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.match-info__media-item {
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}

.match-info__media-link {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .match-info__media-link-description {
    color: #606366;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 18px;
    position: absolute;
    background-color: #fff;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    // box-shadow: 0px 5px 30px rgba(black, .2);
    filter: drop-shadow(0px 5px 30px rgba(black, .2));
    padding: 8px 24px;
    border-radius: 5px;
    opacity: 0;
    transition: all .3s;
    visibility: hidden;
    &::before {
      content: '';
      position: absolute;
      border: 15px solid transparent;
      border-bottom: 15px solid #fff;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &:hover,
  &:focus {
    > svg {
      fill: $red;
    }
    .match-info__media-link-description {
      opacity: 1;
      visibility: visible;
    }
  }
  > svg {
    fill: $green;
    color: $red;
    width: 24px;
    height: 24px;
    transition: fill .3s;
    position: relative;
    &.icon-search-publications {
      width: 28px;
      height: 24px;
    }
    &.icon-search-protocol {
      width: 21px;
      height: 26px;
    }

    &.icon-search-video {
      width: 28px;
      height: 23px;
    }

    &.icon-search-goals {
      width: 26px;
      height: 18px;
      transform: rotate(-30deg);
    }

    &.icon-search-photo {
      width: 30px;
      height: 22px;
    }


    &.icon-tv {
      width: 36px;
      height: 36px;
      bottom: 1px;
    }

    &.icon-tickets-match {
      width: 32px;
      height: 32px;
    }


    &.icon-live {
      width: 36px;
      height: 36px;
    }
  }
}