.news-comments {
  width: 960px;
  background-color: #fff;
  border-top: 2px solid $green;
  padding: 40px 80px;
  margin-left: auto;
}

.news-comments__heading {
  font-size: 26px;
  line-height: 38px;
  color: $green;
  margin-left: -40px;
}

.news-comments__auth-required {
  display: flex;
  align-items: center;
  margin-top: 13px;
  // justify-content: space-between;
}

.news-comments__auth-required-paragraph {
  color: #242f37;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 30px;
  width: 340px;
}

.news-comments__auth-required-links {
  padding: 20px;
  background-color: #ebebeb;
  width: 410px;
  margin-left: auto;
  margin-right: -80px;
}

.news-comments__auth-link {
  font-size: 16px;
  line-height: 20px;
  outline: none;
  transition: color 0.2s;
  color: $green;
  &:link,
  &:visited {
    color: $green;
  }
  &:hover,
  &:focus {
    color: $red;
  }
}

.news-comments__auth-divider {
  &::before {
    content: '/';
    font-size: 16px;
    line-height: 20px;
    color: #94999f;
    margin: 0 5px;
  }
}

.news-comments__auth-required-links-secondary-block {
  margin-top: 8px;
}

.news-comments__auth-link-social {
  color: #94999f;
  font-size: 14px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  transition: color 0.2s;
  display: flex;
  align-items: center;
  > svg {
    fill: $green;
    margin-left: 10px;
  }
  &:link,
  &:visited {
    color: #94999f;
  }
  &:hover,
  &:focus {
    color: $green;
  }
}

.news-comments__comments-block {
  display: flex;
  flex-direction: column;
  margin-top: 38px;
}

.news-comments__refresh {
  margin-left: auto;
  .news-comments__refresh-content {
    display: flex;
    align-items: center;
    position: relative;
    color: $green;
    font-size: 16px;
    line-height: 20px;
    transition: color 0.2s;
    > svg {
      fill: $green;
      margin-right: 10px;
      position: relative;
      bottom: 1px;
      transition: fill 0.2s;
    }
  }

  &:hover,
  &:focus {
    .news-comments__refresh-content {
      color: $red;
      > svg {
        fill: $red;
      }
    }
  }
}

.news-comments__list {
  display: flex;
  flex-direction: column;
}

.news-comments__list-item {
  background-color: #fff;
  border: 1px solid #ebebeb;
  margin-top: 10px;
  &--level-2 {
    margin-left: 70px;
  }
}

.news-comments__comment-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dde8e7;
  padding: 0 10px;
  padding-right: 5px;
}

.news-comments__id {
  color: #242f37;
  font-size: 12px;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.news-comments__name {
  color: $green;
  font-size: 12px;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.news-comments__city {
  color: $green;
  font-size: 12px;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.news-comments__date-block {
  display: flex;
  align-items: center;
}

.news-comments__voting {
  display: flex;
  align-items: center;
  color: $green;
  font-size: 12px;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.news-comments__vote-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  outline: none;
  > svg {
    fill: #94999f;
    color: white;
    transition: fill 0.2s, color 0.2s;
    width: 14px;
    height: 14px;
  }
  &:first-child {
    margin-right: 5px;
  }
  &:last-child {
    margin-left: 5px;
  }

  &[href] {
    &:hover,
    &:focus {
      > svg {
        &.icon-upvote {
          color: $green;
          fill: $green;
        }
        &.icon-downvote {
          color: $red;
          fill: $red;
        }
      }
    }
  }
}

.news-comments__vote-count {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.news-comments__vote-count-divider {
  &::before {
    content: '/';
    color: #242f37;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    margin: 0 2px;
  }
}

.news-comments__vote-count-number {
  &.vote-null {
    color: #242f37;
    font-weight: 400;
  }
  &.vote-plus {
    color: $green;
    font-weight: 700;
  }

  &.vote-minus {
    font-weight: 700;
    color: $red;
  }
}

.news-comments__date-time {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  color: #242f37;
  margin-right: 18px;
}

.news-comments__comment-content {
  padding: 10px;
  display: flex;
}

.news-comments__avatar-container {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  > img {
    width: 100%;
    height: 100%;
    display: block;
    @include objectFitCover();
  }
}

.news-comments__comment-wrapper {
  width: 50%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.news-comments__reply-link {
  color: $green;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-top: auto;
  margin-left: auto;
  transition: color 0.2s;
  &:link,
  &:visited {
    color: $green;
  }

  &:hover,
  &:focus {
    color: $red;
  }
}

.news-comments__comment-text {
  font-size: 14px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #242f37;
  p {
    margin: 0;
    margin-bottom: 5px;
  }
}

.news-comments__all-comments {
  font-size: 16px;
  line-height: 20px;
  border: 2px solid $green;
  display: inline-block;
  padding: 13px 16px;
  transition: all 0.3s;
  color: $green;
  margin-top: 30px;
  align-self: center;
  &:link,
  &:visited {
    color: $green;
  }

  &:hover,
  &:focus {
    border: 2px solid $red;
  }
}

.news-comments__form-block {
  width: 100%;
  display: flex;
  margin-top: 25px;
}

.news-comments__form {
  width: 624px;
  display: flex;
  flex-direction: column;
}

.news-comments__textarea {
  width: 100%;
  resize: none;
  font: inherit;
  font-family: Arial, Helvetica, sans-serif;
  color: #242f37;
  font-size: 16px;
  line-height: 30px;
  resize: none;
  -webkit-appearance: none;
  border-radius: 0;
  width: 100%;
  border: 2px solid $green;
  padding: 5px 15px;
  height: 140px;
  outline: none;
  @include placeholder {
    font-family: Arial, Helvetica, sans-serif;
    color: #c0c0c0;
    font-size: 16px;
    line-height: 30px;
  }
}

.news-comments__submit {
  background-color: $green;
  color: white;
  text-transform: uppercase;
  padding: 17px 54px;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 18px;
  outline: none;
  align-self: flex-start;
  transition: background-color 0.2s;
  margin-top: 30px;
  &:hover,
  &:focus {
    background-color: #3c8f88;
  }

  &--small {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 14px 48px;
  }
}

.news-comments__smiles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  width: 170px;
  margin-left: auto;
}

.news-comments__smile {
  width: 50px;
  height: 35px;
  margin-right: 0;
  &:nth-child(3n) {
    margin-right: 0;
  }
}

.news-comments__smile-add-smile {
  width: 100%;
  height: 100%;
  position: relative;
  .news-comments__smile-image-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .news-comments__smile-image {
      height: 60%;
      width: auto;
      max-width: initial;
      display: block;
      position: relative;
      &--champion {
        height: 85%;
        bottom: -1px;
      }

      &--nepyhti {
        height: 80%;
        left: 14px;
        bottom: 3px;
      }

      &--confused {
        height: 78%;
        bottom: 3px;
      }
    }
  }
}

.news-comments__textarea-wrapper {
  position: relative;
  .parsley-errors-list {
    position: absolute;
    top: calc(100% + 15px);
    right: 70px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: white;
    color: $red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    z-index: 20;
    filter: drop-shadow(0px 5px 20px rgba(black, 0.2));
    display: none;
    animation: fadeEffect 0.3s;
    &.filled {
      display: block;
    }
    &::before {
      content: '';
      position: absolute;
      display: block;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      border: 10px solid transparent;
      border-bottom: 12px solid #fff;
    }
  }
}
