.news-slider {
  margin-top: 40px;
  position: relative;
}

.news-slider__list {
 
  .slick-slide {
    outline: none;
  }

  .slick-track {
    display: flex;
    align-items: stretch;
  }

  .slick-slide {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto !important;
    > div {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

.news-slider__list-item {
  display: flex !important;
  flex-direction: column;
  flex-grow: 1;
}

.news-slider__slide-content {
  display: flex;
  flex-grow: 1;
  min-height: 462px;
}

.news-slider__image-container {
  width: 654px;
  background-color: #fff;
  overflow: hidden;
  &:hover {
    .news-slider__image {
      transform: translate3d(0, 0, 0) scale(1.07);
    }
  }
}

.news-slider__text-container {
  width: 586px;
  padding: 30px 40px;
  padding-bottom: 85px;
  background-color: $green;
  color: white;
}

.news-slider__image {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform .8s ease-out;
  @include objectFitCover();
  
}

.news-slider__news-info {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.news-slider__info-block {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: white;
  outline: none;
  &:link,
  &:visited {
    color: white;
  }

  &[href] {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &:not(:first-child) {
    margin-left: 20px;
  }
  > svg {
    fill: white;
    margin-right: 10px;
    display: block;
    position: relative;
    &.icon-news-calendar {
      width: 14px;
      height: 14px;
      bottom: 1px;
    }

    &.icon-news-views {
      width: 18px;
      height: 9px;
    }

    &.icon-news-comments {
      width: 16px;
      height: 13px;
    }

    &.icon-news-video {
      width: 15px;
      height: 12px;
      margin-right: 0;
    }

    &.icon-news-photo {
      width: 15px;
      height: 12px;
      margin-right: 0;
    }
  }
}


.news-slider__divider {
  width: 1.5px;
  height: 15px;
  background-color: #fff;
  margin-left: 20px;
}

.news-slider__news-heading-link {
  outline: none;
  &:link,
  &:visited {
    color: white;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.news-slider__news-heading {
  font-size: 34px;
  line-height: 44px;
  // padding-right: 110px;
  margin-top: 24px;
  text-transform: uppercase;
}

.news-slider__news-paragraph {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin-top: 20px;
}

.news-slider__details-link {
  font-size: 16px;
  line-height: 20px;
  color: white;
  outline: none;
  margin-top: 20px;

  &:link,
  &:visited {
    color: white;
  }
  &::after {
    content: '>';
    color: $red;
  }

  &:hover,
  &:focus {
    .news-slider__details-link-text {
      &::before {
        opacity: 1;
      }
    }
  }

  &-text {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1.5px;
      background-color: white;
      opacity: 0;
      transition: all 0.2s;
    }
  }
}


.news-slider__controls {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 27px;
  padding-right: 35px;
  padding-left: 40px;
  width: 586px;
  .slick-dots {
    order: -1;
    display: flex;
    align-items: center;
    li {
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
    li button {
      outline: 0;
      line-height: 0;
      font-size: 0;
      display: block;
      color: transparent;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: transparent;
      border: 2px solid white;
      position: relative;
      transition: all .3s;
      outline: 1px solid transparent;
      &:hover,
      &:focus {
        transform: scale(1.5);
      }
    }

    li.slick-active button {
      transform: scale(1.6);
      
      background-color: #fff;
    }
  }
}

.news-slider__all-news-link {
  color: white;
  font-size: 16px;
  line-height: 20px;
  border: 2px solid white;
  display: inline-block;
  padding: 13px 37px;
  margin-left: auto;
  transition: all 0.3s;
  &:link,
  &:visited {
    color: white;
  }

  &:hover,
  &:focus {
    color: $green;
    background-color: #fff;
  }
}




