.page-header {
  margin-top: 20px;
  position: relative;
  z-index: 10000;
  &__top-panel,
  &__bottom-panel {
    display: flex;
  }
  &__top-panel {
    align-items: center;
  }
  &__bottom-panel {
    margin-top: 15px;
    align-items: center;
  }

}