.page-content {
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  transition: filter .4s;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.search-modal-open .page-content {
  filter: blur(16px);
}