.page-content {
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  transition: filter .4s;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-image: url('../img/bg-pattern-test.jpg');
  background-size: 960px;
 
  overflow-y: hidden;
}


.search-modal-open .page-content {
  filter: blur(16px);
}