.play-off {
  width: 960px;
  display: flex;
  flex-direction: column;
}

.play-off__main-heading {
  color: #242f37;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 44px;
  margin-bottom: 40px;
  margin: 0;
  margin-top: 5px;
}

.play-off__select {
  margin-top: 35px;
  width: 250px;
  position: relative;
  z-index: 30;
}

.play-off__content {
  margin-top: 40px;
  background-color: #fff;
  border-top: 2px solid $green;
  padding: 30px 0;
  padding-bottom: 50px;
  flex-grow: 1;
}

.play-off__block {
  margin-bottom: 50px;
  
}

.play-off__block-heading {
  padding: 0 40px;
  color: $green;
  font-size: 26px;
  line-height: 38px;
  margin-bottom: 20px;
}

.play-off__card-table {
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  width: 100%;
  th,
  td {
    padding: 0;
    padding-right: 30px;
    vertical-align: middle;
    text-align: left;
    box-sizing: border-box;
    &:first-child {
      padding-left: 40px;
    }
    &:last-child {
      padding-right: 40px;
    }
  }

  tr {
    th {
      border: none;
      padding: 0;
      background-color: #ebebeb;
      color: #242f37;
      font-size: 16px;
      line-height: 30px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding: 5px 10px;
      white-space: nowrap;
      transition: background-color 0.2s;
      cursor: default;
      position: relative;
      &[colspan] {
        text-align: left;
        background-color: lightgrey;
      }

      // &:last-child {
      //   padding-right: 120px;
      // }
    }
  }

  td {
    color: #242f37;
    font-size: 14px;
    line-height: 25px;
    position: relative;
    padding: 6px 10px;
    transition: all 0.2s;
    white-space: nowrap;
    &:first-child {
      font-weight: 400;
      &::before {
        width: calc(100% - 40px);
        right: 0;
        left: auto;
      }
    }
    &:last-child {
      &::before {
        // width: calc(100% - 40px);
        width: 100%;
        left: 0;
        right: auto;
      }
    }

    &::before {
      content: '';
      width: 100%;
      height: 1px;
      background-color: #ebebeb;
      position: absolute;
      top: -1px;
      left: 0;
      transition: background-color 0.2s;
    }
  }

  tr {
    cursor: default;
    &:first-child {
      td {
        &::before {
          display: none;
        }
      }
    }

    &:hover {
      td {
        background-color: #dde8e7;

        &::before {
          background-color: #dde8e7;
        }

        &:first-child,
        &:last-child {
          &::before {
            width: 100%;
          }
        }
      }

      + tr {
        td {
          &::before {
            background-color: #dde8e7;
          }
        }
      }
    }
  }
}

.play-off__team-name {
  font-weight: 700;
  color: $green;
  
  position: relative;
  &:hover {
    .play-off__legend {
      opacity: 1;
      visibility: visible;
    }
  }
}

.play-off__legend {
  position: absolute;
  top: calc(100% + 5px);
  left: -20px;
  
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  padding-top: 7px;
}

.play-off__legend-content {
  background-color: white;
  color: #242F37;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  display: block;
  position: relative;
  box-shadow: 0px 5px 30px rgba(black, 0.2);
  @supports (filter: drop-shadow(0 5px 30px rgba(black, 0.2))) {
    filter: drop-shadow(0 5px 30px rgba(black, 0.2));
    box-shadow: none;
  }
  &::before {
    content: '';
    position: absolute;
    display: block;
    bottom: 100%;
    left: 15px;
    border: 10px solid transparent;
    border-bottom: 10px solid white;
    pointer-events: none;
  }
}


