.shop {
  background-color: #fff;
  margin-top: 40px;
  padding: 40px;
  padding-bottom: 45px;
  position: relative;
  &::before,
  &::after {
    content: '';
    width: 70px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 200;
    pointer-events: none;
  }

  &::before {
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+55,ffffff+100&1+55,0+100 */
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 1) 55%,
      rgba(255, 255, 255, 0) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 55%,
      rgba(255, 255, 255, 0) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  }
  &::after {
    right: 0;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+45&0+0,1+45 */
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 45%); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 45%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 45%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  }
}

.shop__heading {
  text-transform: uppercase;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
}

.shop__products {
  margin-top: -6px;
  position: relative;
  .slick-track {
    display: flex !important;
    box-sizing: border-box;
  }

  .slick-slide {
    height: inherit !important;
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    padding: 0 20px;
    outline: none;
    > div {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
  }

  .slick-list {
    box-sizing: content-box;
    padding: 0px 20px;
    &.draggable {
      cursor: move;
      cursor: grab;
      cursor: -webkit-grab;
      cursor: -moz-grab;
      cursor: -o-grab;
      cursor: -ms-grab;
      &:active {
        cursor: grabbing;
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;
        cursor: -o-grabbing;
        cursor: -ms-grabbing;
        cursor: grabbing;
      }
    }
  }
}

.shop__products-list {
}

.shop__products-list-item {
  
 
  width: 240px;
  text-align: center;
  box-shadow: 0px 0px 60px rgba(black, 0.12);
  transition: box-shadow 0.2s ease-in-out;
  display: flex !important;
  flex-direction: column;
  flex-grow: 1;
}

.shop__product-link {
  outline: none;
  color: $green;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 25px;
  &:link,
  &:visited {
    color: $green;
  }

  &:hover,
  &:focus {
    .shop__buy {
      background-color: $red;
    }
  }
}

.slick-slide.slick-active .shop__products-list-item {
  box-shadow: 0px 0px 60px rgba(black, 0.12);
}

// .slick-list.draggable:active .shop__products-list-item {
//   box-shadow: 0px 0px 60px rgba(black, .12);
// }

.shop__product-image-container {
  width: 190px;
  height: 190px;
  align-self: center;
}

.shop__product-image {
  width: 100%;
  height: 100%;
  @include objectFitCover();
}

.shop__product-name {
  font-size: 16px;
  line-height: 22px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 13px;
  margin-bottom: 10px;
}

.shop__product-price {
  font-size: 20px;
  color: #606366;
  margin-top: auto;
}

.shop__buy {
  background-color: $green;
  color: white;
  font-size: 14px;
  line-height: 18px;
  align-self: center;
  padding: 10px 50px;
  margin-top: 16px;
  outline: none;
  transition: all 0.2s;
}

.shop__slider-button {
  position: absolute;
  width: 30px;
  height: 50px;
  z-index: 1000;
  outline: none;
  svg {
    polyline {
      transition: all 0.3s;
      stroke: $green;
    }
  }

  &:hover,
  &:focus {
    svg {
      polyline {
        stroke: $green;
        stroke-width: 4px;
      }
    }
  }

  &--prev {
    right: calc(100% - 8px);
    top: 50%;
    transform: translateY(-50%);
  }
  &--next {
    left: calc(100% - 8px);
    top: 50%;
    transform: translateY(-50%);
  }
}

.shop__all-products {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  &-link {
    font-size: 16px;
    line-height: 20px;
    border: 2px solid $green;
    display: inline-block;
    padding: 15px 50px;
    transition: all 0.3s;
    color: $green;
    &:link,
    &:visited {
      color: $green;
    }

    &:hover,
    &:focus {
      border: 2px solid $red;
    }
  }
}
