.sponsor {
  width: 230px;
  margin-left: 100px;
  &:link,
  &:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 14px;
    color: #686868;
  } 
  &__logo {
    width: 178px;
  }
  &__description {
    padding-left: 34px;
    display: block;
  }
}