.staff {
  width: 960px;

  .tabs__navigation button {
    width: 190px;
  }

  .tabs__item {
    flex-direction: column;
  }

  .tabs__content {
    background-color: transparent;
  }

  .choices {
    box-shadow: 0px 8px 30px rgba(black, 0.05);
   
    .simplebar-scrollbar {
      right: 0;
      width: 10px;
    }
    .simplebar-scrollbar:before {
      background-color: #c0c0c0;
      border-radius: 0;
    }

    .simplebar-track .simplebar-scrollbar.simplebar-visible:before {
      opacity: 0.8;
      transition: opacity 0s linear;
    }

    .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
      top: 7px;
      bottom: 7px;
    }

    .simplebar-track.simplebar-vertical {
      background-color: #ebebeb;

      border-left: 10px solid white;
      border-right: 10px solid white;

      width: 30px;
      &::before {
        content: '';
        width: 10px;
        position: absolute;
        height: 7px;
        background-color: white;
        top: 0;
        right: 0;
      }
    }
  }

  .choices__list--dropdown .choices__item--selectable {
    padding-right: 0;
  }

  .choices__inner {
    border: none;
    border-radius: 0;
    font-size: 16px;
    font-weight: 700;
    color: #242f37;
    padding: 0;
    min-height: 35px;
    display: flex;
    align-items: center;
  }

  .choices[data-type*='select-one'] .choices__inner {
    padding: 0;
  }

  .choices__list--single {
    padding: 0;
    padding-right: 35px;
    padding-left: 20px;
    line-height: 35px;
  }

  .choices__list--dropdown {
    border: none;
    margin: 0;
    border-radius: 0;


    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background-image: linear-gradient(to top, white 20%, rgba(white, 0));
      pointer-events: none;
      z-index: 15;
    }

    &::before {
      content: '';
      width: 26px;
      height: 26px;
      // background-color: tomato;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17.41 17.41'%3E%3Cpath d='M16.71 15.29L13 11.61a7.18 7.18 0 0 0 1.5-4.36 7.25 7.25 0 1 0-7.25 7.25 7.18 7.18 0 0 0 4.36-1.5l3.68 3.68a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.39zM7.25 12.5a5.25 5.25 0 1 1 5.25-5.25 5.26 5.26 0 0 1-5.25 5.25z' fill='silver'/%3E%3C/svg%3E");
      background-size: 15px;
      background-repeat: no-repeat;
      background-position: center;
      position: center;
      top: 10px;
      right: 18px;
      position: absolute;
      pointer-events: none;
      z-index: 25;
    }
  }

  .choices__list-wrapper {
    max-height: 300px;
    overflow-y: auto;

  }

  .choices__list--dropdown.is-active {
    box-shadow: 0px 8px 30px rgba(black, 0.05);
  }

  .choices__list--dropdown .choices__list {
    max-height: none;
    // overflow-y: hidden;
  }

  .choices__list--dropdown .choices__item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 40px;
    color: #242f37;
    padding: 0 20px;
    transition: all 0.2s;
    &:last-child {
      margin-bottom: 30px;
    }

    &:only-child {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 0;
      position: relative;
      z-index: 20;
    }
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: #dde8e7;
  }

  .choices[data-type*='select-one']:after {
    border: none;
    background-color: $green;
    margin: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 35px;
    width: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg fill='white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.46 10.15'%3E%3Cpath d='M8.23 0L0 8.78l1.46 1.37 6.77-7.23L15 10.15l1.46-1.37L8.23 0z'/%3E%3C/svg%3E");
    background-size: 16px;
  }

  .choices[data-type*='select-one'].is-open:after {
    margin: 0;
    background-image: url("data:image/svg+xml,%3Csvg fill='white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.46 10.15'%3E%3Cpath d='M15 0L8.23 7.22 1.46 0 0 1.37l8.23 8.78 8.23-8.78L15 0z'/%3E%3C/svg%3E");
    background-position: center top 14px;
  }

  .choices[data-type*='select-one'] .choices__input {
    border: 8px solid #ebebeb;
    font: inherit;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px;
    padding-right: 40px;
    color: $green;
    line-height: 30px;
    height: 46px;
    font-size: 16px;
    position: relative;
    z-index: 20;
  }
}

.staff__main-heading {
  color: #242f37;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 44px;
  margin-bottom: 40px;
  margin: 0;
  margin-top: 5px;
}

.staff__select {
  margin-top: 35px;
  width: 242px;
  position: relative;
  z-index: 30;
}

.staff__content {
  margin-top: 40px;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.staff__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  background-color: white;
}

.staff__section-item {
  margin-top: 40px;
  border-bottom: 2px solid #ebebeb;
  &:first-child {
    margin-top: 30px;
  }
}

.staff__info-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 13px;

  .staff__section--players & {
    tbody {
      td {
        &:nth-child(2) {
          width: 320px;
        }
      }
    }
  }

  th,
  td {
    padding-right: 30px;
    vertical-align: middle;
    text-align: left;

    &:first-child {
      padding-left: 40px;
    }
    &:last-child {
      padding-right: 40px;
    }
  }

  thead {
    tr {
      th {
        background-color: #ebebeb;
        color: #242f37;
        font-size: 16px;
        line-height: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: default;
        white-space: nowrap;
      }
    }
  }

  tbody {
    td {
      color: #242f37;
      font-size: 14px;
      line-height: 36px;
      position: relative;
      padding-top: 10px;
      padding-bottom: 10px;
      transition: all 0.3s;
      &:first-child {
        font-weight: 700;
        &::before {
          width: calc(100% - 40px);
          right: 0;
        }
      }
      &:last-child {
        &::before {
          width: calc(100% - 40px);
          left: 0;
        }
      }

      &::before {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #ebebeb;
        position: absolute;
        top: -1px;
        // left: 0;
      }
    }

    tr {
      cursor: default;
      &:first-child {
        td {
          border-top: none;
          &::before {
            display: none;
          }
        }
      }
      &:last-child {
        td {
          border-bottom: none;
        }
      }

      &:hover {
        td {
          background-color: #dde8e7;
          .staff__person-name {
            transition: color 0.2s;
            color: $red;
          }
          &::before {
            background-color: #dde8e7;
          }

          &:first-child,
          &:last-child {
            &::before {
              width: 100%;
            }
          }
        }

        + tr {
          td {
            &::before {
              background-color: #dde8e7;
            }
          }
        }
      }
    }
  }
}

.staff__section-heading {
  font-size: 26px;
  line-height: 38px;
  padding-left: 40px;
}

.staff__person-photo {
  width: 40px;
  height: 50px;
  margin-right: 20px;
  display: block;
  @include objectFitCover();
}

.staff__sort-button {
  margin-left: 5px;
  > svg {
    transition: fill 0.3s;
    fill: $green;
  }

  &:hover,
  &:focus {
    > svg {
      fill: $red;
    }
  }
}

.staff__photo-link {
  display: flex;
  align-items: center;
  color: #242f37;
  &:link,
  &:visited {
    color: #242f37;
  }
}

.staff__players-average {
  margin-top: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #242f37;
  font-size: 14px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 25px 0;
  padding-top: 35px;
  margin-bottom: 22px;
}

.staff__players-average-number {
  font-weight: 700;
}

.staff__players-average-weight {
  margin-right: 57px;
}
