.stats {
  width: 980px;
  .tabs__navigation {
    button {
      width: 230px;
      text-align: center;
    }
  }
}

.tabs__item--players {
  padding: 30px;
  padding-top: 24px;
  flex-direction: column;
}

.stats__player-categories-list {
  display: flex;
}

.stats__player-categories-list-item {
  width: 285px;
  margin-right: 32px;
  box-shadow: 0px 0px 60px rgba(black, 0.12);
  padding-bottom: 8px;
  &:last-child {
    margin-right: 0;
  }
}

.stats__featured-player-photo-container {
  width: 285px;
  height: 285px;
  position: relative;
  &:hover,
  &:focus {
    .stats__photo-link-overlay {
      opacity: 1;
    }
  }
  
}

.stats__player-category-name {
  background-color: #ebebeb;
  color: #242f37;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 8px 0;
}

.stats__featured-player-photo {
  width: 100%;
  height: 100%;
  @include objectFitCoverTop();
}

.stats__players {
  table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    color: $green;
  }

  tbody {
    tr {
      &:hover {
        cursor: default;
        &:not(.stats__selected-player) {
          td {
            background-color: #DDE8E7;
            border-color: #DDE8E7;
            &::before {
              background-color: #DDE8E7;
            }

            &:nth-child(2) {
              color: $red;
            }
          }

          + tr {
            td {
              border-color: #DDE8E7;
              &::before {
                background-color: #DDE8E7;
              }
            }
            
          }
        }
      }

      
    }

    td {
      font-size: 16px;
      line-height: 36px;
      border-top: 1px solid #EBEBEB;
      position: relative;
      transition: all .2s;
      &:first-child {
        color: #606366;
        padding-left: 16px;
        &::before {
          content: '';
          position: absolute;
          top: -1px;
          height: 1px;
          background-color: #fff;
          left: 0;
          width: 16px;
          transition: all .2s;
        }
      }
      &:last-child {
        color: #242f37;
        font-weight: 700;
        padding-right: 16px;
        // padding-right: 22px;
        text-align: right;
        &::before {
          content: '';
          position: absolute;
          top: -1px;
          height: 1px;
          background-color: #fff;
          right: 0;
          width: 16px;
          transition: all .2s;
        }
      }
    }

    tr.stats__selected-player {
      td {
        background-color: #EBEBEB;
        border-top: 1px solid #EBEBEB;
        &:first-child,
        &:last-child {
          &::before {
            display: none;
          }
        }
      }
      + tr {
        td {
          &::before {
            background-color: #ebebeb;
          }
        }
      }
    }
  }
}

.stats__all-stats-link {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-self: center;
  font-size: 16px;
  line-height: 20px;
  border: 2px solid $green;
  display: inline-block;
  padding: 13px 32px;
  transition: all 0.3s;
  margin-top: 38px;
  color: $green;
  &:link,
  &:visited {
    color: $green;
  }

  &:hover,
  &:focus {
    border: 2px solid $red;
    color: $red;
  }
}




.stats__photo-link-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba($green, .9);
  font-size: 16px;
  line-height: 20px;
  color: white;
  outline: none;
  transition: opacity 0.3s;
  opacity: 0;
  &::after {
    content: '>';
    color: $red;
    margin-left: 5px;
   
  }
}
