.subscribe {
  width: 100%;
  background-color: $green;
  color: white;
  display: flex;
  align-items: center;
  padding: 25px 100px;
  margin-top: 40px;
}

.subscribe__heading {
  font-size: 25px;
  line-height: 35px;
  text-transform: uppercase;
  margin-left: 6px;
}

.subscribe__form {
  display: flex;
  margin-left: auto;
  position: relative;
  .parsley-errors-list {
    position: absolute;
    top: calc(100% + 15px);
    padding: 5px 20px;
    border-radius: 5px;
    background-color: white;
    color: $red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    z-index: 20;
    filter: drop-shadow(0px 5px 20px rgba(black, .2));
    display: none;
    animation: fadeEffect .3s;
    &.filled {
      display: block;
    }
    &::before {
      content: '';
      position: absolute;
      display: block;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      border: 10px solid transparent;
      border-bottom: 12px solid #fff;
    }
  }
}

.subscribe__input {
  background-color: #fff;
  border: none;
  color: #242f37;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 50px;
  height: 50px;
  width: 350px;
  padding: 0 20px;
  outline: none;
  -webkit-appearance: none;

  &:required {
    box-shadow: none;
  }
  @include placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    line-height: 50px;
    color: #c0c0c0;
  }
}

.subscribe__submit {
  background-color: $red;
  color: white;
  font-size: 14px;
  line-height: 18px;
  width: 190px;
  outline: none;
  transition: background-color 0.2s;
  &:hover,
  &:focus {
    background-color: #E24145;
  }
}



@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
