.tabs {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tabs__navigation {
  display: flex;
  align-items: center;
  > button {
    background-color: #7fb1ad;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    padding: 15px 20px;
    padding-top: 18px;
    padding-bottom: 14px;
    transition: background-color 0.3s;
    outline: none;
    white-space: nowrap;
    > * {
      position: relative;
    }
    &:not(:last-of-type) {
      margin-right: 2px;
    }
    &.active {
      background-color: $green;
    }

    &[disabled] {
      cursor: default;
    }

    &:hover,
    &:focus {
      &:not([disabled]) {
        background-color: #3c8f88;
      }
    }
  }
}

.tabs__content {
  background-color: #fff;
  border-top: 2px solid $green;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tabs__item {
  animation: fadeEffect 1s;
  flex-grow: 1;
 
}

.tabs__button-content {
  display: flex;
  align-items: center;
  > svg {
    fill: white;
    display: block;
    margin-right: 10px;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
