.khl-placeholder {
  background-color: #242F37;
  height: 54px;
  color: white;
  display: flex;
  align-items: center;
}




.details-link {
  font-size: 16px;
  line-height: 20px;
  color: white;
  outline: none;
  margin-top: 20px;

  &:link,
  &:visited {
    color: white;
  }
  &::after {
    content: '>';
    color: $red;
  }

  &:hover,
  &:focus {
    .news-slider__details-link-text {
      &::before {
        opacity: 1;
      }
    }
  }

  &-text {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: white;
      opacity: 0;
      transition: all 0.2s;
    }
  }
}