.khl-placeholder {
  background-color: #242f37;
  height: 54px;
  color: white;
  display: flex;
  align-items: center;
}

// Стили кастомного скроллбара

.simplebar-scrollbar:before {
  background-color: darkgrey;
  border-radius: 0;
}

.simplebar-track .simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.8;
  transition: opacity 0s linear;
}

// Стили кастомного селекта

.choices {
  box-shadow: 0px 8px 30px rgba(black, 0.05);
  // z-index: 100;
  .simplebar-scrollbar {
    right: 0;
    width: 10px;
  }
  .simplebar-scrollbar:before {
    background-color: #c0c0c0;
    border-radius: 0;
  }

  .simplebar-track .simplebar-scrollbar.simplebar-visible:before {
    opacity: 0.8;
    transition: opacity 0s linear;
  }

  .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    top: 7px;
    bottom: 7px;
  }

  .simplebar-track.simplebar-vertical {
    background-color: #ebebeb;

    border-left: 10px solid white;
    border-right: 10px solid white;

    width: 30px;
    &::before {
      content: '';
      width: 10px;
      position: absolute;
      height: 7px;
      background-color: white;
      top: 0;
      right: 0;
    }
  }

  .ps__rail-x,
  .ps__rail-y {
    opacity: 1;
  }

  .ps__rail-y {
    &::before {
      content: '';
      top: 0;
      left: 0;
      width: 10px;
      height: 7px;
      background-color: white;
      position: absolute;
      z-index: 50;
      pointer-events: none;
    }
    &::after {
      content: '';
      bottom: 0;
      left: 0;
      width: 10px;
      height: 7px;
      background-color: white;
      position: absolute;
      z-index: 50;
      pointer-events: none;
    }
  }

  .ps__thumb-x,
  .ps__thumb-y {
    background-color: #c0c0c0;
    border-radius: 0;
  }

  .ps__thumb-y {
    right: 0;
    width: 10px;
  }

  .ps--active-x > .ps__rail-x,
  .ps--active-y > .ps__rail-y {
    background-color: #ebebeb;
    // margin-right: 10px;
    border-right: 10px solid white;
    border-left: 10px solid white;
    // border-top: 7px solid white;
    // border-bottom: 7px solid white;
    width: 30px;
  }

  .ps__rail-y.ps--clicking .ps__thumb-y,
  .ps__rail-y:focus > .ps__thumb-y,
  .ps__rail-y:hover > .ps__thumb-y {
    background-color: #c0c0c0;
    width: 10px;
  }

  .ps--focus > .ps__rail-x,
  .ps--focus > .ps__rail-y,
  .ps--scrolling-x > .ps__rail-x,
  .ps--scrolling-y > .ps__rail-y,
  .ps:hover > .ps__rail-x,
  .ps:hover > .ps__rail-y {
    opacity: 1;
  }

  .ps-container > .ps-scrollbar-x-rail,
  .ps-container > .ps-scrollbar-y-rail {
    opacity: 1;
  }
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
}

.choices__inner {
  border: none;
  border-radius: 0;
  font-size: 16px;
  font-weight: 700;
  color: #242f37;
  padding: 0;
  min-height: 35px;
  display: flex;
  align-items: center;
}

.choices[data-type*='select-one'] .choices__inner {
  padding: 0;
}

.choices__list--single {
  padding: 0;
  padding-right: 35px;
  padding-left: 20px;
  height: 35px;
  position: relative;
  display: flex;
  align-items: center;
  &::after {
    content: '';
    position: absolute;
    right: 35px;
    top: 0;
    height: 100%;
    width: 40px;
    background-image: linear-gradient(to left, white 10px, rgba(white, 0));
  }
}

.choices__list--single .choices__item {
  white-space: nowrap;
}

.choices__list--dropdown {
  border: none;
  margin: 0;
  border-radius: 0;
  z-index: 60;
  word-break: normal;
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+20,ffffff+100&0+20,1+100 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    pointer-events: none;
    z-index: 15;
  }

  &::before {
    content: '';
    width: 26px;
    height: 26px;
    // background-color: tomato;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17.41 17.41'%3E%3Cpath d='M16.71 15.29L13 11.61a7.18 7.18 0 0 0 1.5-4.36 7.25 7.25 0 1 0-7.25 7.25 7.18 7.18 0 0 0 4.36-1.5l3.68 3.68a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.39zM7.25 12.5a5.25 5.25 0 1 1 5.25-5.25 5.26 5.26 0 0 1-5.25 5.25z' fill='silver'/%3E%3C/svg%3E");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    position: center;
    top: 10px;
    right: 18px;
    position: absolute;
    pointer-events: none;
    z-index: 25;
  }

  &.hide-gradient {
    &::after {
      opacity: 0;
    }
  }
}

// .choices__list-wrapper {
//   max-height: 300px;
//   overflow-y: auto;
// }

.choices__list--dropdown.is-active {
  box-shadow: 0px 8px 30px rgba(black, 0.05);
  opacity: 1;
  visibility: visible;
}

.choices__list--dropdown .choices__list {
  max-height: none;
  overflow: hidden;

  width: 100%;
  position: relative;
  max-height: 300px;
  overflow-y: auto;
}

.choices__list--dropdown .choices__item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #242f37;
  transition: all 0.2s;
  padding-right: 35px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: #dde8e7;
}

.choices[data-type*='select-one']::after {
  border: none;
  background-color: $green;
  margin: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 35px;
  width: 35px;
  z-index: 10;
}

.choices[data-type*='select-one']::before {
  content: '';
  position: absolute;
  border: none;
  // background-color: $red;
  margin: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 35px;
  width: 35px;
  z-index: 20;
  transition: transform 0.2s ease-out;

  background-position: center top 14px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg fill='white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.46 10.15'%3E%3Cpath d='M15 0L8.23 7.22 1.46 0 0 1.37l8.23 8.78 8.23-8.78L15 0z'/%3E%3C/svg%3E");
  background-size: 16px;
}

.choices[data-type*='select-one'].is-open:after {
  margin: 0;
}

.choices[data-type*='select-one'].is-open:before {
  transform: translateY(-50%) rotate(-180deg) translateY(-1px);
}

.choices[data-type*='select-one'] .choices__input {
  border: 8px solid #ebebeb;
  font: inherit;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 10px;
  padding-right: 40px;
  // color: $green;
  line-height: 30px;
  height: 46px;
  font-size: 16px;
  position: relative;
  z-index: 20;
}

// Чекбокс

.checkbox {
  font-family: Arial, Helvetica, sans-serif;
  color: #242f37;
  font-size: 16px;
  line-height: 24px;
  display: block;
}

.checkbox__input {
  @include visuallyHidden();
}

.checkbox-block {
  display: flex;
  margin-top: 20px;
  > .checkbox {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.checkbox__label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox__label-icon {
  margin-right: 10px;
  width: 18px;
  height: 18px;
  border: 2px solid $green;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  flex-shrink: 0;
  > svg {
    width: 10px;
    height: 7px;
    fill: white;
    transition: opacity 0.2s;
    opacity: 0;
  }
}

.checkbox__label-text {
  user-select: none;
}

.checkbox__input:checked ~ .checkbox__label .checkbox__label-icon {
  background-color: $green;
  > svg {
    opacity: 1;
  }
}

// Датапикер

.datepicker {
  font-family: 'Supermolot', 'Helvetica', sans-serif;
  color: #242f37;
  border: none;
  box-shadow: 0px 5px 30px rgba(black, 0.2);
  width: 310px;
  // margin-left: 40px;
  margin-top: 8px;
  z-index: 20;
  @supports (filter: drop-shadow(0px 5px 30px rgba(black, 0.2))) {
    box-shadow: none;
    filter: drop-shadow(0px 5px 30px rgba(black, 0.2));
  }
}

.datepicker--content {
  padding: 15px;
  padding-top: 0;
}

.datepicker--day-name {
  color: $green;
  font-size: 14px;
  line-height: 24px;
}

.datepicker--pointer {
  border: none;
  // display: none;
  width: auto;
  height: auto;
  border: 13px solid transparent;
  border-bottom: 15px solid #fff;
  background-color: transparent;
}

.-bottom-right- .datepicker--pointer,
.-top-right- .datepicker--pointer {
  right: 80px;
}

.-bottom-center- .datepicker--pointer,
.-bottom-left- .datepicker--pointer,
.-bottom-right- .datepicker--pointer {
  transform: rotate(0);
  bottom: 100%;
}

.datepicker--nav {
  min-height: 35px;
  border: none;
  padding: 15px;
  padding-bottom: 0;
}

.datepicker--nav-action {
  border-radius: 0;
  background-color: $green;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  position: relative;
  &:hover,
  &:focus {
    background-color: #3c8f88;
  }

  &[data-action='prev'] {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg fill='white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8.48 14.14'%3E%3Cpath d='M8.48 1.42L7.07 0 0 7.07l7.07 7.06 1.41-1.41-5.65-5.65 5.65-5.65z'/%3E%3C/svg%3E");
      background-size: 8px 12px;
    }
  }
  &[data-action='next'] {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg fill='white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8.48 14.14'%3E%3Cpath d='M1.41 0L0 1.41l5.65 5.66L0 12.72l1.41 1.41 7.07-7.06L1.41 0z'/%3E%3C/svg%3E");
      background-size: 8px 12px;
    }
  }
}

.datepicker--nav-action svg {
  display: none;
}

.datepicker--nav-action path {
  stroke: white;
}

.datepicker--nav-title {
  border-radius: 0;
  font-family: 'Supermolot', 'Helvetica', sans-serif;
  color: #242f37;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  flex-grow: 1;
  background-color: #ebebeb;
  transition: all 0.2s;
  i {
    color: #242f37;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
  }
}

.datepicker--cell {
  border-radius: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  transition: all 0.2s;
  &.-focus- {
    background-color: $green;
    color: white;
  }
}

.datepicker--cell-day {
  background-color: #ebebeb;
  border: 2.5px solid white;
}

.datepicker--cell-month {
  border: 2.5px solid white;
}

.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-current- {
  background-color: $green;
  color: white;
}

.datepicker--cell-year {
  border: 2.5px solid white;
}

.datepicker--cell.-selected- {
  background: $green;
  color: white;
  border: 2.5px solid white;
  &.-focus- {
    background-color: $green;
  }
}

.-disabled-.-focus-.datepicker--cell-day.-other-month-,
.-disabled-.-focus-.datepicker--cell-year.-other-decade-,
.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  color: #c0c0c0;
}

.datepicker--cell-day.-other-month- {
  &.-focus- {
    color: white;
  }
}

.datepicker--cell.-disabled- {
  cursor: default;
  background-color: #ebebeb;
  color: #c0c0c0;
  &.-focus- {
    background-color: #ebebeb;
    color: #c0c0c0;
  }
}

.datepicker--cell-year.-other-decade- {
  &.-focus- {
    color: white;
  }
}

.datepicker--months,
.datepicker--years {
  padding-top: 2.5px;
}

.datepicker--cell.-current-,
.datepicker--cell.-current-.-in-range- {
  color: $red;
  &.-focus- {
    color: white;
    background-color: $red;
  }
}

.datepicker--nav-action.-disabled- {
  visibility: visible;
}

// Фотогалерея

.fotorama__thumb-border {
  border-color: $red;
}

.fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__video-close,
.fotorama__video-play {
  background-image: url('../img/fotorama.png');
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .fotorama__arr,
  .fotorama__fullscreen-icon,
  .fotorama__video-close,
  .fotorama__video-play {
    background-image: url('../img/fotorama@2x.png');
  }
}

// .fotorama__nav-wrap {
//   position: relative;
//   &::before {
//     content: '';
//     left: 0;
//     top: 0;
//     position: absolute;
//     width: 60px;
//     height: 100%;
//     background: linear-gradient(to right, white, rgba(white, 0));
//     z-index: 40;
//     pointer-events: none;
//   }
//   &::after {
//     content: '';
//     right: 0;
//     top: 0;
//     position: absolute;
//     width: 60px;
//     height: 100%;
//     background: linear-gradient(to left, white, rgba(white, 0));
//     z-index: 40;
//     pointer-events: none;
//   }
// }

.toggle {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 16px;
  input {
    @include visuallyHidden();
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ebebeb;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &::before {
      position: absolute;
      content: '';
      height: 22px;
      width: 22px;
      left: 0px;
      bottom: -3px;
      background-color: $green;
      transition: 0.4s;
    }
  }

  &:hover,
  &:focus {
    .slider {
      &::before {
        background-color: #3c8f88;
      }
    }
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }
}

.pagination {
  display: flex;
  align-items: center;
 
  &--top {
    margin-bottom: 60px;
  }

  &--bottom {
    margin-top: 60px;
  }
}

.pagination__pages-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.pagination__pages-list-item {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.pagination__page-link {
  color: $green;
  border: 2px solid $green;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: 0.2s;

  &:link,
  &:visited {
    color: $green;
  }
  &.current {
    background-color: $green;
    color: white;
  }

  &:not(.current) {
    &:hover,
    &:focus {
      border: 2px solid $red;
      color: $red;
    }
  }
}

.pagination__next-page-link {
  align-self: stretch;
  color: $green;
  border: 2px solid $green;
  padding: 0 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: 0.2s;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  flex-grow: 1;
  > svg {
    fill: $green;
    margin-left: 8px;
    transition: 0.2s;
  }
  &:link,
  &:visited {
    color: $green;
  }

  &:hover,
  &:focus {
    color: $red;
    border: 2px solid $red;
    > svg {
      fill: $red;
    }
  }
}

.pagination__prev-page-link {
  align-self: stretch;
  color: $green;
  border: 2px solid $green;
  padding: 0 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: 0.2s;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  // margin-right: 10px;
  flex-grow: 1;
  > svg {
    fill: $green;
    margin-right: 8px;
    transition: 0.2s;
  }
  &:link,
  &:visited {
    color: $green;
  }

  &:hover,
  &:focus {
    color: $red;
    border: 2px solid $red;
    > svg {
      fill: $red;
    }
  }
}

.pagination__select {
  width: 194px;
  margin-left: 20px;
  flex-shrink: 0;
  .choices__inner {
    min-height: 30px;
    border: 2px solid #ebebeb;
    border-right: none;
    font-size: 14px;
  }
  .choices__list--single {
    height: 31px;
    padding-left: 15px;
  }

  .choices__list--single::after {
    display: none;
  }

  .choices[data-type*='select-one']::before {
    background-size: 12px;
    background-position: center top 15px;
  }

  .choices[data-type*='select-one'] .choices__input {
    display: none;
  }

  .choices__list--dropdown::before {
    display: none;
  }

  .choices[data-type*='select-one']::after,
  .choices[data-type*='select-one']::before {
    height: 35px;
    width: 35px;
  }
}


// Хайды

.hide-button {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Supermolot', 'Helvetica', sans-serif;
  color: $green;
  width: 100%;
  // margin-top: 30px;
  display: block;
  transition: 0.2s;
  padding-top: 20px;
  padding-bottom: 15px;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 10;
  width: 100%;
  text-align: left;
  outline: none;
  position: relative;
  &::after {
    content: '>';

    color: $red;
    margin-left: 5px;
    transform: rotate(90deg);
    position: absolute;
    transition: .2s;
  }
  &:link,
  &:visited {
    color: $green;
  }
  &:hover,
  &:focus {
    text-decoration: none;
    color: $red;
  }


  &.active {
    &::after {
      transform: rotate(270deg)
    }
  }
}




.hidden-content {
  animation: fadeEffect 1s;
  &.hidden {
    display: none;
  }
}


