.utility {
  margin-left: auto;
  display: flex;
  margin-top: 15px;
  margin-left: 30px;
  // align-items: center;
  &__text-link {
    color: $green;
    text-transform: uppercase;
    margin-left: 15px;
    white-space: nowrap;
    outline: none;
    transition: color 0.2s;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    &:first-child {
      margin-left: 0;
    }
    &:link,
    &:visited {
      color: $green;
    }

    &:hover,
    &:focus {
      color: $red;
    }
  }

  &__divider {
    width: 1.5px;
    height: 32px;
    background-color: $green;
    margin-left: 20px;
  }

  &__icon-link {
    margin-left: 20px;
    outline: none;
    > svg {
      fill: $green;
      width: 24px;
      height: 24px;
      transition: fill 0.2s;
    }

    &:hover,
    &:focus {
      > svg {
        fill: $red;
      }
    }
  }
}

.utility__social {
  display: flex;
  margin-left: 20px;
  position: relative;
  &:hover {
    .utility__social-wrapper {
      opacity: 1;
      visibility: visible;
    }

    .utility__social-toggle {
      color: $red;
    }
  }
}

.utility__social-toggle {
  cursor: pointer;
}

.utility__social-wrapper {
  width: 215px;
  // height: 250px;
  background-color: transparent;
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translateX(50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
 
  padding-top: 10px;
  
  
}

.utility__social-menu {
  padding: 15px 22px;
  border-radius: 5px;
  width: 215px;
  background-color: #fff;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    display: block;
    bottom: 100%;
    right: 55px;
    border: 15px solid transparent; 
    border-bottom: 15px solid #fff; 
  }
}

.utility__social-link {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: $green;
  text-transform: initial;
  transition: color 0.3s;
  outline: none;
  &:link,
  &:visited {
    color: $green;
  }

  &:hover,
  &:focus {
    color: $red;
    svg {
      fill: $red;
    }
  }
}

.utility__social-icon-container {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  > svg {
    fill: $green;
    display: block;
    transition: fill 0.3s;
    width: 20px;
    height: 20px;
  }
}

