.utility {
  margin-left: auto;
  display: flex;
  margin-top: 15px;
  margin-left: 29px;
  position: relative;
 
  // align-items: center;
  &__text-link {
    color: $green;
    text-transform: uppercase;
    margin-left: 15px;
    white-space: nowrap;
    outline: none;
    transition: color 0.2s;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    &:last-of-type {
      margin-right: 10px;
    }
    &:first-child {
      margin-left: 0;
    }
    &:link,
    &:visited {
      color: $green;
    }

    &:hover,
    &:focus {
      color: $red;
    }
  }

  &__divider {
    width: 1.5px;
    height: 32px;
    background-color: $green;
    margin-left: 20px;
  }

  &__icon-link {
    margin-left: 14px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    > svg {
      fill: $green;
      width: 24px;
      height: 24px;
      transition: fill 0.2s;
    }

    &:hover,
    &:focus {
      > svg {
        fill: $red;
      }
    }
  }
}

.utility__social {
  display: flex;
  margin-left: 20px;
  position: relative;
}

.social-shown {
  .utility__social-wrapper {
    opacity: 1;
    visibility: visible;
  }

  .utility__social-toggle {
    color: $red;
  }
}

.utility__social-toggle {
  cursor: pointer;
  position: relative;
  z-index: 50;
}

.utility__social-wrapper {
  width: 215px;
  z-index: 40;
  background-color: transparent;
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translateX(50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  padding-top: 10px;
}

.utility__social-menu {
  padding: 15px 22px;
  border-radius: 5px;
  width: 215px;
  background-color: #fff;
  position: relative;
  filter: drop-shadow(0px 15px 60px rgba(black, 0.15));
  transform: translateZ(0);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  &::before {
    content: '';
    position: absolute;
    display: block;
    bottom: 100%;
    right: 55px;
    border: 15px solid transparent;
    border-bottom: 15px solid #fff;
  }
}

.utility__social-link {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: $green;
  text-transform: initial;
  transition: color 0.3s;
  outline: none;
  &:link,
  &:visited {
    color: $green;
  }

  &:hover,
  &:focus {
    color: $red;
    svg {
      fill: $red;
    }
  }
}

.utility__social-icon-container {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  > svg {
    fill: $green;
    display: block;
    transition: fill 0.3s;
    width: 20px;
    height: 20px;
  }
}

.utility__login {
  margin-left: 14px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.utility__login-wrapper {
  width: 450px;
  z-index: 30;
  background-color: transparent;
  position: absolute;
  top: calc(100% + 5px);
  right: -18px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  padding-top: 10px;

  .login-shown & {
    opacity: 1;
    visibility: visible;
  }
}

.utility__login-content {
  padding: 15px;
  padding-bottom: 2px;
  border-radius: 5px;
  width: 100%;
  background-color: #fff;
  position: relative;
  filter: drop-shadow(0px 15px 60px rgba(black, 0.15));
  transform: translateZ(0);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  cursor: default;
  &::before {
    content: '';
    position: absolute;
    display: block;
    bottom: 100%;
    right: 15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #fff;
  }
}

.utility__login-form {
  .checkbox {
    font-family: 'Supermolot', 'Helvetica', sans-serif;
  }

  .checkbox__label-text {
    position: relative;
    bottom: -1px;
  }
}

.utility__login-avatar {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $green;
  border-radius: 5px;
}

.utility__login-link-icon {
  width: 30px;
  height: 30px;
}

.utility__login-form-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.utility__login-links {
  margin-left: auto;
}

.utility__login-open {
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 50;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateZ(0);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
  }
  > svg {
    fill: $green;
    width: 24px;
    height: 24px;
    transition: fill 0.2s;
    pointer-events: none;
    position: relative;
    z-index: 20;
  }

  &:hover,
  &:focus {
    > svg {
      fill: $red;
    }
  }

  .login-shown & {
    > svg {
      fill: $red;
    }
  }
}

.utility__login-link {
  color: $green;
  cursor: pointer;

  &:link,
  &:visited {
    color: $red;
    cursor: pointer;
  }

  &[href] {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.utility__login-input {
  font-size: 16px;
  line-height: 20px;

  -webkit-appearance: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #242f37;
  border: none;
  width: 40%;
  margin-right: 20px;
  flex-grow: 1;
  padding: 6px 10px;
  border: 2px solid $green;
  outline: none;
  &:last-child {
    margin-right: 0;
  }
  @include placeholder {
    font-size: 16px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c0c0c0;
  }
}

.utility__login-remember-password-link {
  color: $green;
  margin-left: auto;
  &:link,
  &:visited {
    color: $green;
  }
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.utility__login-social-login-link {
  display: flex;
  align-items: center;
  outline: none;
  > svg {
    fill: $green;
    margin-left: 5px;
  }
  &:link,
  &:visited {
    color: $green;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.utility__login-submit {
  outline: none;
  font-size: 16px;
  line-height: 20px;
  color: $green;
  padding: 8px 22px;
  
  margin-left: auto;
  background-color: $red;
  color: white;
  transition: background-color .2s;
  &:hover,
  &:focus {
    background-color: #B9181C;
  }
}
