.utility {
  margin-left: auto;
  display: flex;
  margin-top: 15px;
  margin-left: 29px;
  position: relative;

  // align-items: center;
  &__text-link {
    color: $green;
    text-transform: uppercase;
    margin-left: 15px;
    white-space: nowrap;
    outline: none;
    transition: color 0.2s;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    position: relative;
    
    &:last-of-type {
      margin-right: 10px;
    }
    &:first-child {
      margin-left: 0;
    }
    &:link,
    &:visited {
      color: $green;
    }

    &:hover,
    &:focus {
      color: $red;
      
    }
  }

  &__divider {
    width: 1.5px;
    height: 32px;
    background-color: $green;
    margin-left: 20px;
  }

  &__icon-link {
    margin-left: 14px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    > svg {
      fill: $green;
      width: 24px;
      height: 24px;
      transition: fill 0.2s;
    }

    &:hover,
    &:focus {
      > svg {
        fill: $red;
      }
    }
  }
}

.utility__social {
  display: flex;
  margin-left: 20px;
  position: relative;
}

.social-shown {
  .utility__social-wrapper {
    opacity: 1;
    visibility: visible;
  }

  .utility__social-toggle {
    color: $red;
    &::before {
      opacity: 0;
      visibility: hidden;
    }
    &::after {
      opacity: 1;
      visibility: visible;
    }
  }
}

.utility__social-toggle {
  cursor: pointer;
  position: relative;
  z-index: 50;
  &:hover,
  &:focus {
    color: $red;
    &::before {
      opacity: 0;
      visibility: hidden;
    }
    &::after {
      opacity: 1;
      visibility: visible;
    }
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, $green 33%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 3px 3px;
    background-repeat: repeat-x;
    transition: 0.2s;
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, $red 33%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 3px 3px;
    background-repeat: repeat-x;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
  }
}

.utility__social-wrapper {
  width: 215px;
  z-index: 40;
  background-color: transparent;
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translateX(50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  padding-top: 10px;
}

.utility__social-menu {
  padding: 15px 22px;
  border-radius: 5px;
  width: 215px;
  background-color: #fff;
  position: relative;
  box-shadow: 0px 15px 60px rgba(black, .1);
  transform: translateZ(0);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  &::before {
    content: '';
    position: absolute;
    display: block;
    bottom: 100%;
    right: 55px;
    border: 15px solid transparent;
    border-bottom: 15px solid #fff;
  }
}

.utility__social-link {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: $green;
  text-transform: initial;
  transition: color 0.3s;
  outline: none;
  &:link,
  &:visited {
    color: $green;
  }

  &:hover,
  &:focus {
    color: $red;
    svg {
      fill: $red;
    }
  }
}

.utility__social-icon-container {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  > svg {
    fill: $green;
    display: block;
    transition: fill 0.3s;
    width: 20px;
    height: 20px;
  }
}

.utility__login {
  margin-left: 14px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.utility__login-wrapper {
  width: 300px;
  z-index: 40;
  background-color: transparent;
  position: absolute;
  top: calc(100% + 5px);
  right: -18px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  padding-top: 10px;

  .login-shown & {
    opacity: 1;
    visibility: visible;
  }
}

.utility__login-content {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  // background-color: #fff;
  position: relative;
  // filter: drop-shadow(0px 15px 60px rgba(black, 0.2));
  box-shadow: 0px 15px 60px rgba(black, .2);
  transform: translateZ(0);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  cursor: default;

  // overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    display: block;
    bottom: 100%;
    right: 15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #fff;
  }
}

.utility__login-padding-wrapper {
  padding: 15px 20px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

.utility__login-form {
  .checkbox {
    font-family: 'Supermolot', 'Helvetica', sans-serif;
  }

  .checkbox__label-text {
    position: relative;
    bottom: -1px;
  }

  .parsley-errors-list.filled {
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: $red;
    font-size: 14px;
    line-height: 18px;
  }
}

.utility__login-avatar {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $green;
  border-radius: 5px;
  margin-right: 10px;
}

.utility__login-avatar-image {
  width: 30px;
  height: 30px;
  @include objectFitCoverTop();
}

.utility__account {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.utility__username {
  color: $green;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  &:link,
  &:visited {
    color: $green;
  }
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.utility__login-form-row {
  display: flex;

  margin-bottom: 15px;
  flex-direction: column;
}

.utility__login-links {
  margin-left: auto;
}

.utility__login-open {
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 50;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateZ(0);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
  }
  > svg {
    fill: $green;
    width: 24px;
    height: 24px;
    transition: fill 0.2s;
    pointer-events: none;
    position: relative;
    z-index: 20;
  }

  &:hover,
  &:focus {
    > svg {
      fill: $red;
    }
  }

  .login-shown & {
    > svg {
      fill: $red;
    }
  }
}

.utility__login-link {
  color: $green;
  cursor: pointer;

  &:link,
  &:visited {
    color: $green;
    cursor: pointer;
  }

  &[href] {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.utility__login-input {
  font-size: 16px;
  line-height: 20px;
  -webkit-appearance: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #242f37;
  border: none;
  width: 40%;
  flex-grow: 1;
  padding: 6px 10px;
  border: 2px solid $green;
  outline: none;
  margin: 0;
  width: 100%;
  transition: 0.2s;
  &:last-child {
    margin-bottom: 0;
  }

  &:focus {
    border-color: #3c8f88;
  }
  &.parsley-error {
    border-color: $red;
  }
  @include placeholder {
    font-size: 16px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c0c0c0;
  }
}

.utility__login-remember-password-link {
  color: $green;
  font-family: Arial, Helvetica, sans-serif;
  &:link,
  &:visited {
    color: $green;
  }
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.utility__login-social-login {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  margin-bottom: 15px;

  &-link {
    color: darkgrey;
    transition: color 0.2s;
    display: flex;
    align-items: center;
    > svg {
      fill: $green;
      margin-left: 5px;
    }
    &:link,
    &:visited {
      color: darkgrey;
    }

    &:hover,
    &:focus {
      color: $green;
    }
  }
}

.utility__login-submit {
  outline: none;
  font-size: 14px;
  line-height: 20px;
  color: $green;
  padding: 12px 22px;
  width: 100%;
  margin-left: auto;
  background-color: $green;
  color: white;
  transition: background-color 0.2s;
  font-weight: 400;
  text-transform: uppercase;
  // margin-top: 20px;
  &:hover,
  &:focus {
    background-color: #3c8f88;
  }
}

.utility__login-heading {
  color: darkgrey;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 15px;
}

.utility__register-exit {
  background-color: #ebebeb;
  text-align: center;
  padding: 14px 24px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.utility__register-exit-link {
  display: block;
  color: $green;
  &:link,
  &:visited {
    color: $green;
  }
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
